<section class="category-page">

  {{!-- Top Banner Section --}}
  <section id="main-content" class="hero">
    <div class="container section">
      <h1 class="hero-text fade-in-up">{{category.name}}</h1>
      <div>
        {{#if category.description}}
          <p class="fade-in-up">{{category.description}}</p>
        {{/if}}
        <div class="hero-inner fade-in-up">
          <h2 class="visibility-hidden">{{ t 'search' }}</h2>
          <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
            <path d="M15.49 14.645L12.24 11.395H12.205C13.2068 10.2139 13.713 8.69119 13.6178 7.1454C13.5226 5.59961 12.8334 4.15049 11.6943 3.10119C10.5553 2.05189 9.05456 1.48368 7.50616 1.51542C5.95777 1.54717 4.48162 2.17641 3.38651 3.27152C2.2914 4.36663 1.66216 5.84278 1.63041 7.39117C1.59867 8.93957 2.16688 10.4403 3.21618 11.5793C4.26548 12.7184 5.7146 13.4076 7.26039 13.5028C8.80618 13.598 10.3289 13.0918 11.51 12.09C11.51 12.09 11.51 12.115 11.51 12.125L14.76 15.375C14.8065 15.4219 14.8618 15.4591 14.9227 15.4845C14.9837 15.5099 15.049 15.5229 15.115 15.5229C15.181 15.5229 15.2464 15.5099 15.3073 15.4845C15.3683 15.4591 15.4236 15.4219 15.47 15.375C15.5213 15.3297 15.5627 15.2742 15.5917 15.2122C15.6206 15.1502 15.6365 15.0828 15.6384 15.0144C15.6403 14.9459 15.6281 14.8778 15.6026 14.8143C15.577 14.7508 15.5387 14.6932 15.49 14.645ZM7.63504 12.5C6.64613 12.5 5.67943 12.2068 4.85719 11.6574C4.03494 11.108 3.39408 10.3271 3.01564 9.41346C2.6372 8.49983 2.53818 7.4945 2.73111 6.5246C2.92404 5.55469 3.40024 4.66378 4.0995 3.96451C4.79877 3.26525 5.68968 2.78905 6.65959 2.59612C7.62949 2.40319 8.63482 2.50221 9.54845 2.88065C10.4621 3.25909 11.243 3.89995 11.7924 4.7222C12.3418 5.54444 12.635 6.51114 12.635 7.50005C12.635 8.15666 12.5057 8.80684 12.2544 9.41346C12.0032 10.0201 11.6349 10.5713 11.1706 11.0356C10.7063 11.4999 10.1551 11.8682 9.54845 12.1194C8.94183 12.3707 8.29165 12.5 7.63504 12.5Z" fill="#686B71"/>
          </svg>
          {{search instant=settings.instant_search class='search search-full'}}
        </div>
      </div>
    </div>
    <svg width="2561" height="271" viewBox="0 0 2561 271" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M2471.51 68.8682L2513.72 0.571289L2560.7 29.3106L2526.76 84.229L2559 109.17L2522.58 155.761L2557.18 188.679L2497.38 250.899L2457.52 212.981L2500.3 168.478L2462.45 140.753L2504.75 89.2009L2471.51 68.8682ZM2380.08 66.3757L2431.09 1.11402L2474.62 34.7926L2437.49 82.3031L2472.86 115.771L2435.06 155.3L2472.97 196.493L2405.88 252.648L2370.94 212.554L2312.41 254.211L2284.64 215.599L2215.96 255.565L2191.05 213.196L2193.68 218.741L2112.76 256.678L2089.25 207.047L2170.17 169.111L2188.56 207.945L2263.75 164.192L2287.46 204.51L2350.68 159.51L2380.92 201.563L2412.51 174.307L2374.85 138.668L2416.81 94.7861L2380.08 66.3757ZM2286.95 64.2329L2346.75 2.01224L2386.61 39.931L2341.68 86.6733L2348.64 80.6726L2384.77 122.123L2319.68 178.277L2283.55 136.827L2292.56 129.055L2221.63 179.803L2190.79 137.138L2116.89 181.064L2092.35 140.2L2007.41 182.073L1985.35 137.791L1905.46 178.153L1884 136.105L1809.27 181.625L1782.2 137.631L1717.8 184.845L1685.51 141.253L1654.65 168.538L1693.09 204.216L1634.74 266.437L1594.41 229.007L1633.98 186.819L1632.87 187.801L1596.23 146.791L1659.74 90.6361L1696.38 131.646L1691.39 136.057L1755.46 89.0789L1786.59 131.107L1857.71 87.784L1882.58 128.181L1964.6 86.7411L1987.11 130.847L2069.12 90.4195L2090.3 132.953L2167.76 86.9145L2194.58 131.576L2261.55 83.6598L2293.67 128.096L2325.35 100.766L2286.95 64.2329ZM2190.96 62.4524L2259.56 3.26235L2295.69 44.7109L2227.1 103.901L2190.96 62.4524ZM2088.24 60.9883L2165.63 4.83873L2198.12 49.1697L2120.73 105.319L2088.24 60.9883ZM1984.85 57.2086L2066.82 6.69786L2095.86 53.3406L2009.67 106.455L1983.17 63.8877L1902.77 94.3537L1883.14 43.0808L1967.24 11.2102L1984.85 57.2086ZM1885.8 61.5339L1806.85 99.4703L1788.2 61.0564L1715.6 104.351L1691.66 64.6253L1630.83 108.995L1600.43 67.7389L1569.63 94.977L1607.32 129.781L1565.64 174.448L1602.22 202.06L1552.45 267.322L1508.52 234.159L1545.48 185.694L1510.25 153.167L1548.06 112.647L1512.41 72.7396L1486.15 100.735L1521.85 127.683L1482.02 179.906L1514.96 199.57L1473.77 267.867L1426.49 239.638L1460.1 183.902L1428.15 159.781L1464.39 112.253L1429.93 80.259L1488.28 18.0383L1528.6 55.4687L1515.54 69.3921L1575.63 16.2655L1610.77 55.6001L1666.88 14.6695L1694.92 52.7149L1761.05 13.2784L1783.13 49.9338L1861.82 12.1282L1885.8 61.5339ZM1385.06 112.523L1351.84 166.587L1378.81 182.996L1350.28 245.415L1400.48 268.129L1433.09 196.791L1405.57 184.338L1441.8 125.39L1409.62 105.815L1450.34 53.5353L1406.75 19.9261L1353.55 88.2237L1385.06 112.523ZM1281.13 96.2421L1329.19 21.8741L1375.58 51.5443L1337.89 109.865L1365.23 122.977L1334.09 187.238L1354.65 193.812L1330.62 268.18L1278.12 251.392L1300.09 183.386L1279.51 173.518L1308.48 113.736L1281.13 96.2421ZM1987.57 211.442L1907.78 261.835L1878.22 215.514L1962.32 162.399L1989.34 204.744L2071.78 174.262L2090.99 225.691L2004.8 257.561L1987.57 211.442ZM1886.92 207.514L1811.4 263.664L1778.39 219.715L1853.91 163.565L1886.92 207.514ZM1786.72 206.021L1719.79 265.211L1683.15 224.203L1750.08 165.013L1786.72 206.021Z" fill="#03261F"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1234.45 105.012L1200.62 167.875L1227.84 182.375L1187.69 238.906L1232.72 270.571L1284.39 197.842L1257.3 178.796L1288.59 120.642L1268 109.675L1292.6 42.8067L1240.81 23.9508L1213.76 97.4797L1234.45 105.012ZM1133.53 91.8484L1169.27 21.6336L1218.47 46.4223L1187.5 107.254L1214.27 125.18L1179.01 177.312L1209.95 203.446L1153.22 269.937L1111.17 234.429L1154.06 184.173L1122.28 162.898L1160.99 105.684L1133.53 91.8484ZM1049.77 86.3236L1094.2 19.4337L1140.21 49.6831L1104.48 103.47L1135.89 129.444L1097.96 174.829L1131.47 208.852L1069.65 269.098L1031.06 229.905L1075.27 186.815L1040.36 157.941L1082.32 107.725L1049.77 86.3236ZM960.474 80.9288L1013.59 17.358L1056 52.4324L1017.33 98.7118L1051.58 133.311L1012.51 171.591L1047.05 213.928L980.154 267.94L946.538 226.733L886.676 266.467L860.191 226.974L790.233 264.689L766.727 221.533L769.171 227.161L687.056 262.45L665.187 212.082L747.302 176.793L764.414 216.204L841.001 174.916L863.368 215.982L928.033 173.059L956.878 216.072L989.345 189.856L952.875 153.013L996.249 110.517L960.474 80.9288ZM867.459 75.763L929.272 15.5173L967.865 54.71L921.429 99.9687L928.577 94.197L963.33 136.798L896.438 190.81L861.685 148.209L870.943 140.733L798.385 189.151L768.962 145.507L693.658 187.01L670.473 145.371L584.206 184.464L563.615 139.489L482.444 177.236L462.372 134.513L386.19 177.582L360.573 132.732L294.665 177.831L263.819 133.213L232.084 159.481L269.328 196.389L208.963 256.682L169.89 217.962L210.82 177.082L209.678 178.027L174.407 135.849L239.723 81.7865L274.994 123.964L269.863 128.211L335.441 83.3382L365.18 126.354L437.684 85.3643L461.207 126.547L544.546 87.7924L565.601 132.605L648.888 94.8627L668.666 138.061L747.592 94.5624L772.932 140.071L841.441 94.355L872.086 139.81L904.642 113.523L867.459 75.763ZM771.586 70.8668L842.088 13.9357L876.843 56.5354L806.341 113.467L771.586 70.8668ZM668.962 66.068L748.158 12.4613L779.18 57.8238L699.984 111.43L668.962 66.068ZM565.759 58.9334L649.336 11.1109L676.831 58.6718L588.946 108.959L563.854 65.5542L482.498 93.3933L464.561 41.5104L549.667 12.3877L565.759 58.9334ZM466.615 60.04L386.46 95.3926L369.082 56.3937L295.099 97.3076L272.481 56.8261L210.23 99.1975L181.195 56.9756L149.513 83.199L186.041 119.208L142.925 162.498L178.58 191.283L126.695 254.894L82.8696 220.322L122.403 173.084L87.2611 139.43L127.376 100.16L92.0498 59.1155L64.8896 86.2433L100.69 114.336L58.1684 165.238L90.447 185.962L47.0382 252.885L0.700195 223.135L36.1256 168.52L4.97939 143.375L42.7658 97.0487L9.36806 63.9528L69.7328 3.66002L108.806 42.3797L96.3001 55.8718L158.094 4.72437L191.924 45.179L249.35 6.09224L276.125 45.0277L343.515 7.75952L364.386 45.1126L444.265 9.88183L466.615 60.04ZM563.414 213.172L482.013 260.948L453.991 213.692L539.789 163.337L565.405 206.536L648.8 178.747L666.315 230.772L579.121 259.827L563.414 213.172ZM462.95 205.979L385.628 259.647L354.074 214.649L431.396 160.981L462.95 205.979ZM362.851 201.233L294.01 258.218L258.737 216.042L327.578 159.057L362.851 201.233Z" fill="#03261F"/>
    </svg>
  </section>

  {{!-- Main Content --}}
  <section class="category-page__content container">
    <div class="category-page__sections">
      {{#each sections}}
      <div class="category-page__section fade-in-up">
        <div class="category-page__section-heading">
          <h2>{{name}}</h2>
          <div>
            {{t 'show_all_articles'}}
            <a href="{{url}}"></a>
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12" fill="none">
              <path d="M9.15283 3.2135L12.3434 6.10183L9.15283 8.99016V3.2135Z" fill="white"/>
              <path d="M2.77234 2.05725V6.10092H12.3439M12.3439 6.10092L9.15341 3.21258V8.98923L12.3439 6.10092Z" stroke="white" stroke-width="1.73281"/>
            </svg>
          </div>
        </div>
        <div class="category-page__articles">
          {{#each articles}}
            <div class="category-page__article">
              <h5><a href="{{url}}">{{title}}</a></h5>
              <div>{{body}}</div>
            </div>
          {{/each}}
        </div>
        <div class="mobile-button fade-in-up">
          {{t 'show_all_articles'}}
          <a href="{{url}}"></a>
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12" fill="none">
            <path d="M9.15283 3.2135L12.3434 6.10183L9.15283 8.99016V3.2135Z" fill="white"/>
            <path d="M2.77234 2.05725V6.10092H12.3439M12.3439 6.10092L9.15341 3.21258V8.98923L12.3439 6.10092Z" stroke="white" stroke-width="1.73281"/>
          </svg>
        </div>
      </div>
      {{/each}}
    </div>
  </section>
</section>


