<section class="category-page">

  {{!-- Top Banner Section --}}
  <section id="main-content" class="hero">
    <div class="container section">
      <h1 class="hero-text fade-in-up">{{category.name}}</h1>
      {{#if category.description}}
        <p class="p-large fade-in-up">{{category.description}}</p>
      {{/if}}
      <div class="hero-inner fade-in-up">
        <h2 class="visibility-hidden">{{ t 'search' }}</h2>
        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
          <path d="M15.49 14.645L12.24 11.395H12.205C13.2068 10.2139 13.713 8.69119 13.6178 7.1454C13.5226 5.59961 12.8334 4.15049 11.6943 3.10119C10.5553 2.05189 9.05456 1.48368 7.50616 1.51542C5.95777 1.54717 4.48162 2.17641 3.38651 3.27152C2.2914 4.36663 1.66216 5.84278 1.63041 7.39117C1.59867 8.93957 2.16688 10.4403 3.21618 11.5793C4.26548 12.7184 5.7146 13.4076 7.26039 13.5028C8.80618 13.598 10.3289 13.0918 11.51 12.09C11.51 12.09 11.51 12.115 11.51 12.125L14.76 15.375C14.8065 15.4219 14.8618 15.4591 14.9227 15.4845C14.9837 15.5099 15.049 15.5229 15.115 15.5229C15.181 15.5229 15.2464 15.5099 15.3073 15.4845C15.3683 15.4591 15.4236 15.4219 15.47 15.375C15.5213 15.3297 15.5627 15.2742 15.5917 15.2122C15.6206 15.1502 15.6365 15.0828 15.6384 15.0144C15.6403 14.9459 15.6281 14.8778 15.6026 14.8143C15.577 14.7508 15.5387 14.6932 15.49 14.645ZM7.63504 12.5C6.64613 12.5 5.67943 12.2068 4.85719 11.6574C4.03494 11.108 3.39408 10.3271 3.01564 9.41346C2.6372 8.49983 2.53818 7.4945 2.73111 6.5246C2.92404 5.55469 3.40024 4.66378 4.0995 3.96451C4.79877 3.26525 5.68968 2.78905 6.65959 2.59612C7.62949 2.40319 8.63482 2.50221 9.54845 2.88065C10.4621 3.25909 11.243 3.89995 11.7924 4.7222C12.3418 5.54444 12.635 6.51114 12.635 7.50005C12.635 8.15666 12.5057 8.80684 12.2544 9.41346C12.0032 10.0201 11.6349 10.5713 11.1706 11.0356C10.7063 11.4999 10.1551 11.8682 9.54845 12.1194C8.94183 12.3707 8.29165 12.5 7.63504 12.5Z" fill="#686B71"/>
        </svg>
        {{search instant=settings.instant_search class='search search-full'}}
      </div>
    </div>
    {{#if settings.show_hero_elements}}
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" width="1440" height="786" viewBox="0 0 1440 786" fill="none">
      <path d="M52.2255 218.582C173.847 309.387 302.692 343.505 443.845 281.024C584.998 218.543 738.46 59.4632 873.919 41.6695C1009.38 23.8759 1126.83 147.369 1252.34 207.679C1321.34 240.833 1392.77 254.893 1466 254.8L1466 -246.939C1437.57 -249.152 1409.14 -251.279 1380.77 -252.541C1301.84 -256.054 1223.32 -252.879 1144.98 -246.68C1066.64 -240.481 988.493 -231.259 912.95 -179.358C837.407 -127.457 764.473 -32.8776 689.075 21.3941C613.677 75.6658 535.815 89.6298 456.591 81.3044C377.366 72.979 296.779 42.3643 215.192 -4.6078C141.906 -46.8007 67.813 -102.192 4.16785e-05 -133.575L6.87395e-05 175.967C17.1561 191.097 34.6152 205.433 52.2255 218.582Z" fill="url(#paint0_linear_8_33)" fill-opacity="0.2"/>
      <path d="M713.644 386.703C586.252 430.367 476.21 602.08 354.306 686.244C244.618 761.974 125.326 766.823 0.000116925 727.143L0.00012207 786L1466 786L1466 412.676C1355.88 458.286 1242.27 478.21 1122.76 454.547C985.778 427.425 841.036 343.039 713.644 386.703Z" fill="url(#paint1_linear_8_33)" fill-opacity="0.2"/>
      <path d="M443.715 280.73C302.698 343.151 173.976 309.082 52.4177 218.324C34.8526 205.21 17.4368 190.911 0.321358 175.822L0.321331 -133.072C34.0684 -117.407 69.373 -95.8152 105.371 -72.8741C113.443 -67.7297 121.551 -62.5174 129.683 -57.2891C157.973 -39.101 186.564 -20.7192 215.032 -4.32942C296.644 42.6571 377.274 73.2924 456.557 81.6239C535.848 89.9562 613.792 75.9793 689.263 21.6549C725.906 -4.72076 761.962 -40.6063 797.995 -76.4687L801.185 -79.6433C838.29 -116.564 875.389 -153.162 913.132 -179.093C988.599 -230.942 1066.67 -240.161 1145.01 -246.359C1223.34 -252.558 1301.84 -255.733 1380.76 -252.221C1409.02 -250.962 1437.35 -248.846 1465.68 -246.642L1465.68 254.479C1392.6 254.531 1321.33 240.472 1252.48 207.389C1221.12 192.321 1190.26 173.303 1159.49 153.524C1152.23 148.857 1144.97 144.147 1137.71 139.437C1114.21 124.188 1090.71 108.935 1067.02 95.1078C1005.02 58.9115 941.717 32.4397 873.877 41.3511C806.06 50.2593 733.77 94.5251 660.836 144.324C647.127 153.684 633.395 163.24 619.665 172.795C560.318 214.095 501.002 255.372 443.715 280.73ZM354.488 686.508C404.019 652.312 451.593 603.67 499.14 555.055C510.135 543.813 521.128 532.573 532.144 521.512C590.822 462.601 650.132 408.811 713.748 387.007C777.348 365.208 845.302 375.365 914.521 394.39C940.96 401.657 967.572 410.214 994.191 418.773C1002.42 421.418 1010.64 424.063 1018.86 426.67C1053.69 437.714 1088.43 448.078 1122.7 454.862C1242.13 478.508 1355.65 458.654 1465.68 413.156L1465.68 785.679L0.321411 785.679L0.321406 727.581C125.564 767.14 244.822 762.224 354.488 686.508Z" stroke="url(#paint2_linear_8_33)" stroke-opacity="0.2" stroke-width="0.642458" stroke-linecap="round" stroke-linejoin="round"/>
      <defs>
        <linearGradient id="paint0_linear_8_33" x1="1573.39" y1="605.631" x2="468.8" y2="355.587" gradientUnits="userSpaceOnUse">
          <stop stop-color="#418CFE"/>
          <stop offset="1" stop-color="white" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint1_linear_8_33" x1="1573.39" y1="605.631" x2="468.8" y2="355.587" gradientUnits="userSpaceOnUse">
          <stop stop-color="#418CFE"/>
          <stop offset="1" stop-color="white" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint2_linear_8_33" x1="1473.02" y1="129.928" x2="304.694" y2="-111.286" gradientUnits="userSpaceOnUse">
          <stop stop-color="#418CFE"/>
          <stop offset="1" stop-color="white" stop-opacity="0"/>
        </linearGradient>
      </defs>
    </svg>
  {{/if}}
  </section>

  {{!-- Main Content --}}
  <section class="category-page__content container section">
    <div class="category-page__sections">
      {{#each sections}}
      <div class="category-page__section fade-in-up">
        <div class="category-page__section-heading">
          <h2>{{name}}</h2>
          <a class="button button-secondary" href="{{url}}">{{t 'show_all_articles'}}</a>
        </div>
        <div class="category-page__articles">
          {{#each articles}}
            <div class="category-page__article">
              <h6><a href="{{url}}">{{title}}</a></h6>
              <div>{{body}}</div>
              <div>
                <a href="{{url}}"></a>
                {{t 'see_more'}}
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                  <path d="M4.16669 10.4998H15.8334M15.8334 10.4998L10 4.6665M15.8334 10.4998L10 16.3332" stroke="#418CFE" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
          {{/each}}
        </div>
        <div class="mobile-button fade-in-up">
          <a class="button button-secondary" href="{{url}}">{{t 'show_all_articles'}}</a>
        </div>
      </div>
      {{/each}}
    </div>
  </section>
</section>


