<section class="community-page">

  {{#unless topics}}
    <p>{{t 'no_content'}}</p>
  {{/unless}}

  {{!-- Main Content --}}
  <div id="main-content" class="topics section">
    <div class="container">
      <header class="page-header community-header">
        <h1 class="fade-in-up">{{t 'community_topics'}}</h1>
        <span class="dropdown fade-in-up">
          <button class="dropdown-toggle" aria-haspopup="true">
            <p class="title">
              {{t 'community_topics'}}
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M7.99984 3.3335L7.99984 12.6668M7.99984 12.6668L12.6665 8.00016M7.99984 12.6668L3.33317 8.00016" stroke="#535862" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
          <span class="dropdown-menu" role="menu">
            {{#link 'topics' role='menuitemradio' aria-checked='true'}}
              {{t 'show_topics'}}
            {{/link}}
            {{#link 'posts' role='menuitemradio'}}
              {{t 'show_all_posts'}}
            {{/link}}
          </span>
        </span>
      </header>
      <ul class="blocks-list topics-list">
        {{#each topics}}
          <li class="fade-in-up topics-item {{#if internal}}blocks-item-internal{{/if}}">
            <h5>
              <a href="{{url}}" class="blocks-item-title">
                {{name}}
                {{#if internal}}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
                    <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
                    <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
                  </svg>
                {{/if}}
              </a>
            </h5>

            <span class="blocks-item-description">{{excerpt description}}</span>
            <ul class="meta-group">
              <li class="meta-data">{{t 'post_count' count=post_count}}</li>
              <li class="meta-data">{{t 'follower_count' count=follower_count}}</li>
            </ul>
          </li>
        {{/each}}
      </ul>
    </div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" width="1440" height="556" viewBox="0 0 1440 556" fill="none">
      <path d="M52.2255 -11.4183C173.847 79.3867 302.692 113.505 443.845 51.024C584.998 -11.457 738.46 -170.537 873.919 -188.331C1009.38 -206.124 1126.83 -82.6315 1252.34 -22.3216C1321.34 10.8331 1392.77 24.8931 1466 24.7996L1466 -476.939C1437.57 -479.152 1409.14 -481.279 1380.77 -482.542C1301.84 -486.055 1223.32 -482.879 1144.98 -476.68C1066.64 -470.481 988.493 -461.259 912.95 -409.358C837.407 -357.457 764.473 -262.878 689.075 -208.606C613.677 -154.334 535.815 -140.37 456.591 -148.696C377.366 -157.021 296.779 -187.636 215.192 -234.608C141.906 -276.801 67.813 -332.192 4.16785e-05 -363.575L6.87395e-05 -54.033C17.1561 -38.9035 34.6152 -24.5666 52.2255 -11.4183Z" fill="url(#paint0_linear_52_2444)" fill-opacity="0.2"/>
      <path d="M713.644 156.703C586.252 200.367 476.21 372.08 354.306 456.244C244.618 531.974 125.326 536.823 0.000116925 497.142L0.00012207 556L1466 556L1466 182.675C1355.88 228.286 1242.27 248.209 1122.76 224.547C985.778 197.425 841.036 113.039 713.644 156.703Z" fill="url(#paint1_linear_52_2444)" fill-opacity="0.2"/>
      <path d="M443.715 50.7303C302.698 113.151 173.976 79.0823 52.4177 -11.6757C34.8526 -24.7903 17.4368 -39.0887 0.321358 -54.178L0.321331 -363.072C34.0684 -347.407 69.373 -325.815 105.371 -302.874C113.443 -297.73 121.551 -292.518 129.683 -287.289C157.973 -269.101 186.564 -250.719 215.032 -234.33C296.644 -187.343 377.274 -156.708 456.557 -148.376C535.848 -140.044 613.792 -154.021 689.263 -208.345C725.906 -234.721 761.962 -270.606 797.995 -306.469L801.185 -309.643C838.29 -346.564 875.389 -383.162 913.132 -409.093C988.599 -460.942 1066.67 -470.161 1145.01 -476.359C1223.34 -482.558 1301.84 -485.733 1380.76 -482.221C1409.02 -480.963 1437.35 -478.846 1465.68 -476.642L1465.68 24.4787C1392.6 24.5307 1321.33 10.472 1252.48 -22.6111C1221.12 -37.6795 1190.26 -56.6968 1159.49 -76.4762C1152.23 -81.1433 1144.97 -85.8531 1137.71 -90.5634C1114.21 -105.812 1090.71 -121.065 1067.02 -134.892C1005.02 -171.089 941.717 -197.56 873.877 -188.649C806.06 -179.741 733.77 -135.475 660.836 -85.6763C647.127 -76.316 633.395 -66.7599 619.665 -57.2051C560.318 -15.9056 501.002 25.3722 443.715 50.7303ZM354.488 456.508C404.019 422.312 451.593 373.67 499.14 325.055C510.135 313.813 521.128 302.572 532.144 291.512C590.822 232.601 650.132 178.811 713.748 157.007C777.348 135.207 845.302 145.365 914.521 164.39C940.96 171.657 967.572 180.213 994.191 188.773C1002.42 191.418 1010.64 194.063 1018.86 196.67C1053.69 207.713 1088.43 218.078 1122.7 224.862C1242.13 248.508 1355.65 228.654 1465.68 183.156L1465.68 555.679L0.321411 555.679L0.321406 497.581C125.564 537.14 244.822 532.224 354.488 456.508Z" stroke="url(#paint2_linear_52_2444)" stroke-opacity="0.2" stroke-width="0.642458" stroke-linecap="round" stroke-linejoin="round"/>
      <defs>
        <linearGradient id="paint0_linear_52_2444" x1="1573.39" y1="375.631" x2="468.8" y2="125.587" gradientUnits="userSpaceOnUse">
          <stop stop-color="#418CFE"/>
          <stop offset="1" stop-color="white" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint1_linear_52_2444" x1="1573.39" y1="375.631" x2="468.8" y2="125.587" gradientUnits="userSpaceOnUse">
          <stop stop-color="#418CFE"/>
          <stop offset="1" stop-color="white" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint2_linear_52_2444" x1="1473.02" y1="-100.072" x2="304.694" y2="-341.286" gradientUnits="userSpaceOnUse">
          <stop stop-color="#418CFE"/>
          <stop offset="1" stop-color="white" stop-opacity="0"/>
        </linearGradient>
      </defs>
    </svg>
  </div>

  {{pagination}}

  {{!-- Featured Posts --}}
  {{#if featured_posts}}
    <section class="container section community-featured-posts">
      <h2 class="fade-in-up">{{t 'featured_posts'}}</h2>
      <ul class="featured-posts">
        {{#each featured_posts}}
          <li class="featured-posts-item fade-in-up">
            <div class="avatar post-avatar">
              {{#if author.agent}}
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="icon-agent" aria-label="{{t 'team_member' name=author.name}}">
                  <path fill="currentColor" d="M6 0C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm2.3 7H3.7c-.3 0-.4-.3-.3-.5C3.9 7.6 4.9 7 6 7s2.1.6 2.6 1.5c.1.2 0 .5-.3.5z"/>
                </svg>
              {{/if}}
              <img src="{{author.avatar_url}}" alt="avatar" class="user-avatar"/>
            </div>
            <div class="post-meta">
              <span title="{{author.name}}">
                {{#link 'user_profile' id=author.id}}
                  {{author.name}}
                {{/link}}
              </span>
            </div>
            <h6><a href="{{url}}">{{title}}</a></h6>
            <div class="featured-posts-item-body">{{details}}</div>
            <div class="featured-posts-btn">
              <a href="{{url}}"></a>
              {{t 'see_more'}}
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                <path d="M4.1665 10.4998H15.8332M15.8332 10.4998L9.99984 4.6665M15.8332 10.4998L9.99984 16.3332" stroke="#418CFE" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </li>
        {{/each}}
      </ul>
    </section>
  {{/if}}

  {{!-- Recent activity --}}
  <section class="community-activity activity section">
    <div class="container fade-in-up">
      {{#if help_center.community_enabled}}
        {{recent_activity scope='community'}}
      {{/if}}
    </div>
    <div class="container fade-in-up">
      {{link 'new_post' class='button button-primary'}}
    </div>
  </section>
</section>
