<section class="topic-page">
  <div class="container">
    
    {{!-- Page Header  --}}
    <header class="page-header fade-in-up">
      <div>     
        <h1>
          {{topic.name}}
          {{#if topic.internal}}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
              <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
              <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
            </svg>
          {{/if}}
        </h1>
        {{#if topic.description}}
          <p class="page-header-description fade-in-up">{{topic.description}}</p>
        {{/if}}
      </div>
      {{#if settings.show_follow_topic}}
        <div class="community-follow">
          {{subscribe}}
        </div>
      {{/if}}
    </header>

    <div class="topic-header fade-in-up">
      <span class="topic-filters">
        <span class="dropdown">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_filter.label}}
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="7" viewBox="0 0 11 7" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.09457 6.207C6.08752 6.21484 6.08024 6.22252 6.07274 6.23002C5.84174 6.46102 5.46702 6.46102 5.23602 6.23002L0.647475 1.63466C0.532002 1.51908 0.474121 1.36695 0.474121 1.21666C0.474121 1.06749 0.530726 0.914155 0.648633 0.797501C0.879727 0.567607 1.25362 0.567975 1.48425 0.798605L5.65461 4.97459L9.86414 0.770131C10.0951 0.539217 10.4699 0.53916 10.7009 0.770131C10.9319 1.00113 10.9319 1.37586 10.7009 1.60686L6.09457 6.207Z" fill="white"/>
            </svg>
          </button>
          <span class="dropdown-menu" role="menu">
            {{#each filters}}
              <a href="{{url}}" aria-checked="{{selected}}" role="menuitemradio">
                {{name}}
              </a>
            {{/each}}
          </span>
        </span>
        <span class="dropdown">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_sorter.label}}
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="7" viewBox="0 0 11 7" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.09457 6.207C6.08752 6.21484 6.08024 6.22252 6.07274 6.23002C5.84174 6.46102 5.46702 6.46102 5.23602 6.23002L0.647475 1.63466C0.532002 1.51908 0.474121 1.36695 0.474121 1.21666C0.474121 1.06749 0.530726 0.914155 0.648633 0.797501C0.879727 0.567607 1.25362 0.567975 1.48425 0.798605L5.65461 4.97459L9.86414 0.770131C10.0951 0.539217 10.4699 0.53916 10.7009 0.770131C10.9319 1.00113 10.9319 1.37586 10.7009 1.60686L6.09457 6.207Z" fill="white"/>
            </svg>
          </button>
          <span class="dropdown-menu" role="menu">
            {{#each sorters}}
              <a href="{{url}}" aria-checked="{{selected}}" role="menuitemradio">
                {{name}}
              </a>
            {{/each}}
          </span>
        </span>
      </span>
      <span class="post-to-community">
        {{link 'new_post' topic_id=topic.id class='button button-secondary'}}
      </span>
    </div>

    {{!-- Main Content  --}}
    <div id="main-content" class="posts-list striped-list">
      {{#each posts}}
        <section class="posts-item fade-in-up" role="region" aria-labelledby="title-{{id}}">
          <div class="striped-list-item {{#if featured}}post-featured{{/if}}">
            <span class="striped-list-info">
              <a href="{{url}}" id="title-{{id}}" class="striped-list-title"><h6>{{title}}</h6></a>
              <span class="post-overview-item">
                {{#if pinned}}
                  <span class="status-label status-label-pinned">{{t 'pinned'}}</span>
                {{/if}}

                {{#if featured}}
                  <span class="status-label status-label-featured">{{t 'featured'}}</span>
                {{/if}}

                {{#is status 'none'}}
                {{else}}
                  <span class="status-label-{{status_dasherized}} status-label striped-list-status">{{status_name}}</span>
                {{/is}}
              </span>

              <div class="meta-group">
                {{#link 'user_profile' class="meta-data" id=author.id}}{{author.name}}{{/link}}
                {{#if editor}}
                  <span class="meta-data">{{date edited_at timeago=true}}</span>
                  <span class="meta-data">{{t 'edited'}}</span>
                {{else}}
                  <span class="meta-data">{{date created_at timeago=true}}</span>
                {{/if}}
              </div>
            </span>

            <div class="post-overview-count striped-list-count">
              <span class="striped-list-count-item">
                <span class="striped-list-number">{{vote_sum}}</span>
                {{t 'vote' count=vote_sum}}
              </span>
              <span class="striped-list-count-item">
                <span class="striped-list-number">{{comment_count}}</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12">
                  <path fill="none" stroke="currentColor" d="M1 .5h10c.3 0 .5.2.5.5v7c0 .3-.2.5-.5.5H6l-2.6 2.6c-.3.3-.9.1-.9-.4V8.5H1C.7 8.5.5 8.3.5 8V1C.5.7.7.5 1 .5z"></path>
                </svg>
              </span>
            </div>
          </div>
        </section>
      {{/each}}
    </div>
    {{pagination}}
  </div>

  <section class="container community-footer">
    <p class="community-footer-title fade-in-up">{{t 'suggest_new_post'}}</p>
    <div class="fade-in-up">
      {{link 'new_post' topic_id=topic.id class='button button-primary'}}
    </div>
  </section>
</section>

