<section class="error-page section">
  <div class="container">
    <h1>{{t 'oops'}}</h1>

    {{#is error 'unauthorized'}}
      <h3>{{link 'sign_in'}}</h3>
    {{/is}}

    {{#is error 'forbidden'}}
      <h3>{{t 'not_authorized'}}</h3>
    {{/is}}

    {{#is error 'not_found'}}
      <h3>{{t 'nonexistent_page'}}</h3>
    {{/is}}

    {{#link 'help_center'}}
      {{t 'back_to_homepage'}}
    {{/link}}

    <div class="hero-inner">
      <h2 class="visibility-hidden">{{ t 'search' }}</h2>
      <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
        <path d="M15.49 14.645L12.24 11.395H12.205C13.2068 10.2139 13.713 8.69119 13.6178 7.1454C13.5226 5.59961 12.8334 4.15049 11.6943 3.10119C10.5553 2.05189 9.05456 1.48368 7.50616 1.51542C5.95777 1.54717 4.48162 2.17641 3.38651 3.27152C2.2914 4.36663 1.66216 5.84278 1.63041 7.39117C1.59867 8.93957 2.16688 10.4403 3.21618 11.5793C4.26548 12.7184 5.7146 13.4076 7.26039 13.5028C8.80618 13.598 10.3289 13.0918 11.51 12.09C11.51 12.09 11.51 12.115 11.51 12.125L14.76 15.375C14.8065 15.4219 14.8618 15.4591 14.9227 15.4845C14.9837 15.5099 15.049 15.5229 15.115 15.5229C15.181 15.5229 15.2464 15.5099 15.3073 15.4845C15.3683 15.4591 15.4236 15.4219 15.47 15.375C15.5213 15.3297 15.5627 15.2742 15.5917 15.2122C15.6206 15.1502 15.6365 15.0828 15.6384 15.0144C15.6403 14.9459 15.6281 14.8778 15.6026 14.8143C15.577 14.7508 15.5387 14.6932 15.49 14.645ZM7.63504 12.5C6.64613 12.5 5.67943 12.2068 4.85719 11.6574C4.03494 11.108 3.39408 10.3271 3.01564 9.41346C2.6372 8.49983 2.53818 7.4945 2.73111 6.5246C2.92404 5.55469 3.40024 4.66378 4.0995 3.96451C4.79877 3.26525 5.68968 2.78905 6.65959 2.59612C7.62949 2.40319 8.63482 2.50221 9.54845 2.88065C10.4621 3.25909 11.243 3.89995 11.7924 4.7222C12.3418 5.54444 12.635 6.51114 12.635 7.50005C12.635 8.15666 12.5057 8.80684 12.2544 9.41346C12.0032 10.0201 11.6349 10.5713 11.1706 11.0356C10.7063 11.4999 10.1551 11.8682 9.54845 12.1194C8.94183 12.3707 8.29165 12.5 7.63504 12.5Z" fill="#686B71"/>
      </svg>
      {{search instant=settings.instant_search class='search search-full'}}
    </div>
  </div>
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" width="1440" height="968" viewBox="0 0 1440 968" fill="none">
    <path d="M39.2255 400.582C160.847 491.387 289.692 525.505 430.845 463.024C571.998 400.543 725.46 241.463 860.919 223.669C996.378 205.876 1113.83 329.368 1239.34 389.678C1308.34 422.833 1379.77 436.893 1453 436.8L1453 -64.9395C1424.57 -67.1517 1396.14 -69.2788 1367.77 -70.5416C1288.84 -74.0546 1210.32 -70.8786 1131.98 -64.6797C1053.64 -58.4807 975.493 -49.2587 899.95 2.64202C824.407 54.5427 751.473 149.122 676.075 203.394C600.677 257.666 522.815 271.63 443.591 263.304C364.366 254.979 283.779 224.364 202.192 177.392C128.906 135.199 54.813 79.8082 -13 48.4249L-12.9999 357.967C4.15608 373.097 21.6152 387.433 39.2255 400.582Z" fill="url(#paint0_linear_64_2984)" fill-opacity="0.2"/>
    <path d="M700.644 568.703C573.252 612.367 463.21 784.08 341.306 868.244C231.618 943.974 112.326 948.823 -12.9999 909.142L-12.9999 968L1453 968L1453 594.675C1342.88 640.286 1229.27 660.209 1109.76 636.547C972.778 609.425 828.036 525.039 700.644 568.703Z" fill="url(#paint1_linear_64_2984)" fill-opacity="0.2"/>
    <path d="M430.715 462.73C289.698 525.151 160.976 491.082 39.4177 400.324C21.8526 387.21 4.43684 372.911 -12.6786 357.822L-12.6787 48.9279C21.0684 64.5928 56.373 86.1846 92.371 109.126C100.443 114.27 108.551 119.482 116.683 124.711C144.973 142.899 173.564 161.281 202.032 177.67C283.644 224.657 364.274 255.292 443.557 263.624C522.848 271.956 600.792 257.979 676.263 203.655C712.906 177.279 748.962 141.394 784.995 105.531L788.185 102.357C825.29 65.4357 862.389 28.8376 900.132 2.90679C975.599 -48.9419 1053.67 -58.1609 1132.01 -64.3595C1210.34 -70.5578 1288.84 -73.7329 1367.76 -70.2207C1396.02 -68.9625 1424.35 -66.8462 1452.68 -64.6422L1452.68 436.479C1379.6 436.531 1308.33 422.472 1239.48 389.389C1208.12 374.321 1177.26 355.303 1146.49 335.524C1139.23 330.857 1131.97 326.147 1124.71 321.437C1101.21 306.188 1077.71 290.935 1054.02 277.108C992.025 240.911 928.717 214.44 860.877 223.351C793.06 232.259 720.77 276.525 647.836 326.324C634.127 335.684 620.395 345.24 606.665 354.795C547.318 396.094 488.002 437.372 430.715 462.73ZM341.488 868.508C391.019 834.312 438.593 785.67 486.14 737.055C497.135 725.813 508.128 714.572 519.144 703.512C577.822 644.601 637.132 590.811 700.748 569.007C764.348 547.207 832.302 557.365 901.521 576.39C927.96 583.657 954.572 592.213 981.191 600.773C989.417 603.418 997.643 606.063 1005.86 608.67C1040.69 619.713 1075.43 630.078 1109.7 636.862C1229.13 660.508 1342.65 640.654 1452.68 595.156L1452.68 967.679L-12.6786 967.679L-12.6786 909.581C112.564 949.14 231.822 944.224 341.488 868.508Z" stroke="url(#paint2_linear_64_2984)" stroke-opacity="0.2" stroke-width="0.642458" stroke-linecap="round" stroke-linejoin="round"/>
    <defs>
      <linearGradient id="paint0_linear_64_2984" x1="1560.39" y1="787.631" x2="455.8" y2="537.587" gradientUnits="userSpaceOnUse">
        <stop stop-color="#418CFE"/>
        <stop offset="1" stop-color="white" stop-opacity="0"/>
      </linearGradient>
      <linearGradient id="paint1_linear_64_2984" x1="1560.39" y1="787.631" x2="455.8" y2="537.587" gradientUnits="userSpaceOnUse">
        <stop stop-color="#418CFE"/>
        <stop offset="1" stop-color="white" stop-opacity="0"/>
      </linearGradient>
      <linearGradient id="paint2_linear_64_2984" x1="1460.02" y1="311.928" x2="291.694" y2="70.7137" gradientUnits="userSpaceOnUse">
        <stop stop-color="#418CFE"/>
        <stop offset="1" stop-color="white" stop-opacity="0"/>
      </linearGradient>
    </defs>
  </svg>
</section>
