<footer class="footer">
  <section class="submit-request">
    <div class="container">
      <h2 class="fade-in-up">{{settings.footer_heading}}</h2>
      <p class="fade-in-up">{{settings.footer_text}}</p>
      <div class="fade-in-up">
        <a class="button button-secondary" href="{{settings.footer_link}}">{{settings.footer_link_text}}</a>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" width="1100" height="102" viewBox="0 0 1100 102" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1207.94 80.969L1176.28 145.054L1203.89 158.695L1165.71 216.641L1211.64 246.9L1260.76 172.351L1233.13 154.15L1262.42 94.8665L1241.54 84.5486L1263.87 16.7527L1211.63 -0.45343L1187.07 74.096L1207.94 80.969ZM1106.92 71.0655L1140.25 -0.446534L1190.1 22.7879L1161.22 84.7436L1188.49 101.832L1155.04 155.211L1186.74 180.388L1132.37 248.852L1089.3 214.646L1130.4 162.898L1098.03 142.616L1134.74 84.0332L1106.92 71.0655ZM1023.24 68.2565L1065.34 -0.207065L1112.2 28.6023L1078.34 83.6547L1110.5 108.656L1074.18 155.362L1108.69 188.359L1049.05 250.732L1009.3 212.72L1051.95 168.11L1016.21 140.316L1056.39 88.6388L1023.24 68.2565ZM934.062 65.7579L984.931 0.336991L1028.35 34.0978L991.318 81.7241L1026.59 115.274L988.895 154.899L1024.71 196.193L959.797 252.485L924.942 212.293L866.573 254.052L838.881 215.346L770.383 255.409L745.541 212.936L748.161 218.495L667.466 256.524L644.019 206.772L724.714 168.743L743.06 207.673L818.049 163.813L841.688 204.229L904.74 159.12L934.899 201.275L966.404 173.953L928.846 138.226L970.689 94.2376L934.062 65.7579ZM841.178 63.6098L900.821 1.2374L940.572 39.2486L895.766 86.105L902.702 80.0896L938.737 121.641L873.828 177.933L837.793 136.381L846.777 128.59L776.037 179.462L745.281 136.693L671.578 180.726L647.105 139.762L562.396 181.738L540.601 137.753L461.725 177.808L440.32 135.658L365.794 181.288L338.792 137.187L274.572 184.516L242.366 140.818L211.592 168.169L249.924 203.935L191.727 266.307L151.513 228.786L190.973 186.495L189.865 187.479L153.328 146.369L216.665 90.0775L253.202 131.187L248.227 135.609L312.125 88.5165L343.175 130.647L414.105 87.2184L438.899 127.714L520.701 86.1729L542.953 129.99L623.938 89.8603L645.065 132.497L722.313 86.3468L749.06 131.117L815.852 83.0842L847.886 127.629L879.476 100.232L841.178 63.6098ZM745.454 61.825L813.866 2.49056L849.903 44.0402L781.491 103.375L745.454 61.825ZM643.005 60.3574L720.191 4.07079L752.597 48.5099L675.411 104.796L643.005 60.3574ZM540.711 56.0673L621.644 5.93445L650.606 52.6909L564.65 105.935L538.409 63.572L459.036 93.8041L439.459 42.4062L523.339 10.4578L540.711 56.0673ZM442.114 60.9043L363.374 98.9332L344.776 60.4256L272.37 103.826L248.501 64.0032L187.836 108.482L157.514 67.1244L126.792 94.4289L164.38 129.318L122.82 174.094L159.302 201.773L109.666 267.194L65.8498 233.95L102.71 185.367L67.5805 152.761L105.282 112.142L69.7261 72.1373L43.5411 100.201L79.1454 127.215L39.4261 179.565L72.2785 199.277L31.1993 267.741L-15.9625 239.443L17.5618 183.571L-14.3066 159.391L21.8422 111.747L-12.5306 79.675L45.6667 17.3026L85.8802 54.8242L72.8571 68.7817L132.778 15.5255L167.823 54.956L223.785 13.9256L251.747 52.0637L317.701 12.531L339.726 49.2759L418.194 11.378L442.114 60.9043ZM-57.2731 112.018L-90.4109 166.214L-63.5087 182.663L-91.9649 245.234L-41.8992 268.003L-9.37683 196.491L-36.8247 184.008L-0.693329 124.917L-32.787 105.293L7.82788 52.8862L-35.6452 19.195L-88.7042 87.6592L-57.2731 112.018ZM-160.925 95.6971L-112.998 21.1478L-66.7338 50.8902L-104.319 109.353L-77.0548 122.497L-108.111 186.915L-87.608 193.505L-111.568 268.054L-163.93 251.225L-142.02 183.054L-162.538 173.162L-133.647 113.234L-160.925 95.6971ZM542.801 211.691L464.034 261.694L434.558 215.26L518.431 162.016L545.186 204.163L626.594 173.907L645.755 225.462L559.793 257.41L542.801 211.691ZM443.235 207.241L367.919 263.527L334.994 219.471L410.31 163.184L443.235 207.241ZM343.303 205.744L276.549 265.078L240.01 223.97L306.764 164.635L343.303 205.744Z" fill="#03261F"/>
      </svg>
    </div>
  </section>
  <div class="footer__top container">
    <p>{{settings.footer_description}}</p>
    <ul class="footer__list">
      <li>
        <a href="{{settings.footer_list_item1_url}}">{{settings.footer_list_item1}}</a>
      </li>
      <li>
        <a href="{{settings.footer_list_item2_url}}">{{settings.footer_list_item2}}</a>
      </li>
      <li>
        <a href="{{settings.footer_list_item3_url}}">{{settings.footer_list_item3}}</a>
      </li>
      {{#if settings.show_footer_list_item4}}
        <li>
          <a href="{{settings.footer_list_item4_url}}">{{settings.footer_list_item4}}</a>
        </li>
      {{/if}}
      {{#if settings.show_footer_list_item5}}
        <li>
          <a href="{{settings.footer_list_item5_url}}">{{settings.footer_list_item5}}</a>
        </li>
      {{/if}}
      {{#if settings.show_footer_list_item6}}
        <li>
          <a href="{{settings.footer_list_item6_url}}">{{settings.footer_list_item6}}</a>
        </li>
      {{/if}}
    </ul>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__social">
        {{#if settings.show_social_icon1}}
          <a href="{{settings.footer_social_link1}}" target="_blank" rel="noreferrer noopener">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 24 24" fill="none">
              <g clip-path="url(#clip0_33_3751)">
                <path d="M24.0002 12C24.0002 5.37258 18.6277 0 12.0002 0C5.37282 0 0.000244141 5.37258 0.000244141 12C0.000244141 17.9895 4.38845 22.954 10.1252 23.8542V15.4688H7.07837V12H10.1252V9.35625C10.1252 6.34875 11.9168 4.6875 14.6578 4.6875C15.9703 4.6875 17.344 4.92188 17.344 4.92188V7.875H15.8309C14.3402 7.875 13.8752 8.80008 13.8752 9.75V12H17.2034L16.6713 15.4688H13.8752V23.8542C19.612 22.954 24.0002 17.9895 24.0002 12Z" fill="#111111"/>
              </g>
              <defs>
                <clipPath id="clip0_33_3751">
                  <rect width="24" height="24" fill="white" transform="translate(0.000244141)"/>
                </clipPath>
              </defs>
            </svg>
          </a>
        {{/if}}
        {{#if settings.show_social_icon2}}
          <a href="{{settings.footer_social_link2}}" target="_blank" rel="noreferrer noopener">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 24 24" fill="none">
              <path d="M22.2237 0H1.77212C0.792432 0 0.000244141 0.773438 0.000244141 1.72969V22.2656C0.000244141 23.2219 0.792432 24 1.77212 24H22.2237C23.2034 24 24.0002 23.2219 24.0002 22.2703V1.72969C24.0002 0.773438 23.2034 0 22.2237 0ZM7.12056 20.4516H3.55806V8.99531H7.12056V20.4516ZM5.33931 7.43438C4.19556 7.43438 3.27212 6.51094 3.27212 5.37187C3.27212 4.23281 4.19556 3.30937 5.33931 3.30937C6.47837 3.30937 7.40181 4.23281 7.40181 5.37187C7.40181 6.50625 6.47837 7.43438 5.33931 7.43438ZM20.4518 20.4516H16.894V14.8828C16.894 13.5562 16.8706 11.8453 15.0424 11.8453C13.1909 11.8453 12.9096 13.2937 12.9096 14.7891V20.4516H9.35649V8.99531H12.769V10.5609H12.8159C13.2893 9.66094 14.4518 8.70938 16.1815 8.70938C19.7862 8.70938 20.4518 11.0813 20.4518 14.1656V20.4516Z" fill="#111111"/>
            </svg>
          </a>
        {{/if}}
        {{#if settings.show_social_icon3}}
          <a href="{{settings.footer_social_link3}}" target="_blank" rel="noreferrer noopener">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 24 24" fill="none">
              <g clip-path="url(#clip0_33_3752)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0002 0C5.37264 0 0.000244141 5.3808 0.000244141 12.0204C0.000244141 17.3304 3.43824 21.8364 8.20704 23.4252C8.80704 23.5356 9.02544 23.1648 9.02544 22.8456C9.02544 22.5612 9.01585 21.804 9.00984 20.802C5.67144 21.528 4.96704 19.1904 4.96704 19.1904C4.42224 17.8008 3.63504 17.4312 3.63504 17.4312C2.54544 16.6872 3.71784 16.7016 3.71784 16.7016C4.92144 16.7856 5.55504 17.94 5.55504 17.94C6.62544 19.776 8.36424 19.2456 9.04704 18.9384C9.15744 18.162 9.46704 17.6328 9.81024 17.3328C7.14624 17.0292 4.34424 15.9972 4.34424 11.3916C4.34424 10.08 4.81224 9.006 5.57904 8.166C5.45544 7.8624 5.04384 6.6396 5.69664 4.986C5.69664 4.986 6.70464 4.662 8.99664 6.2172C9.97557 5.95022 10.9856 5.81423 12.0002 5.8128C13.0202 5.8176 14.0462 5.9508 15.005 6.2172C17.2958 4.662 18.3014 4.9848 18.3014 4.9848C18.9566 6.6396 18.5438 7.8624 18.4214 8.166C19.1894 9.006 19.655 10.08 19.655 11.3916C19.655 16.0092 16.8482 17.0256 14.1758 17.3232C14.6066 17.694 14.9894 18.4272 14.9894 19.5492C14.9894 21.1548 14.975 22.452 14.975 22.8456C14.975 23.1672 15.191 23.5416 15.8006 23.424C18.1902 22.6225 20.2675 21.0904 21.7388 19.0441C23.2102 16.9977 24.0013 14.5408 24.0002 12.0204C24.0002 5.3808 18.6266 0 12.0002 0Z" fill="#111111"/>
              </g>
              <defs>
                <clipPath id="clip0_33_3752">
                  <rect width="24" height="24" fill="white" transform="translate(0.000244141)"/>
                </clipPath>
              </defs>
            </svg>
          </a>
        {{/if}}
        {{#if settings.show_social_icon4}}
          <a href="{{settings.footer_social_link4}}" target="_blank" rel="noreferrer noopener">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
            </svg>
          </a>
        {{/if}}
        {{#if settings.show_social_icon5}}
          <a href="{{settings.footer_social_link5}}" target="_blank" rel="noreferrer noopener">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/>
            </svg>
          </a>
        {{/if}}
        {{#if settings.show_social_icon6}}
          <a href="{{settings.footer_social_link6}}" target="_blank" rel="noreferrer noopener">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <path d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z"/>
            </svg>
          </a>
        {{/if}}
      </div>
      <p class="footer__right">{{settings.footer_right}}</p>
    </div>
  </div>
</footer>