<footer class="footer">
  <section class="submit-request">
    <div class="container">
      <h2 class="fade-in-up">{{settings.footer_heading}}</h2>
      <p class="fade-in-up">{{settings.footer_text}}</p>
      <div class="fade-in-up">
        <a class="button button-secondary" href="{{settings.footer_link}}">{{settings.footer_link_text}}</a>
      </div>
      <svg width="1100" height="101" viewBox="0 0 1100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.08" clip-path="url(#clip0_33302_7412)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1207.53 80.8193L1175.87 144.904L1203.48 158.545L1165.3 216.491L1211.23 246.75L1260.34 172.201L1232.72 154L1262.01 94.7169L1241.12 84.3989L1263.45 16.6031L1211.21 -0.603088L1186.66 73.9463L1207.53 80.8193ZM1106.5 70.9158L1139.83 -0.596192L1189.69 22.6383L1160.81 84.594L1188.08 101.683L1154.63 155.062L1186.33 180.238L1131.95 248.702L1088.89 214.496L1129.98 162.749L1097.62 142.466L1134.33 83.8836L1106.5 70.9158ZM1022.83 68.1068L1064.93 -0.356723L1111.78 28.4527L1077.93 83.5051L1110.08 108.507L1073.77 155.212L1108.28 188.209L1048.63 250.582L1008.88 212.571L1051.54 167.96L1015.8 140.167L1055.98 88.4891L1022.83 68.1068ZM933.651 65.6083L984.519 0.187333L1027.94 33.9481L990.906 81.5745L1026.18 115.124L988.484 154.75L1024.29 196.043L959.386 252.335L924.53 212.143L866.161 253.902L838.47 215.196L769.971 255.259L745.129 212.786L747.749 218.346L667.054 256.375L643.608 206.623L724.303 168.594L742.649 207.523L817.638 163.663L841.276 204.079L904.328 158.97L934.488 201.126L965.993 173.803L928.434 138.077L970.278 94.088L933.651 65.6083ZM840.766 63.4602L900.409 1.08774L940.16 39.099L895.354 85.9553L902.291 79.94L938.325 121.491L873.416 177.783L837.381 136.232L846.365 128.441L775.626 179.312L744.869 136.543L671.166 180.576L646.694 139.613L561.984 181.588L540.189 137.603L461.314 177.658L439.909 135.508L365.382 181.138L338.38 137.037L274.16 184.367L241.955 140.668L211.181 168.019L249.512 203.785L191.315 266.158L151.101 228.636L190.561 186.345L189.454 187.329L152.917 146.22L216.253 89.9278L252.79 131.038L247.815 135.46L311.714 88.3668L342.763 130.497L413.693 87.0688L438.487 127.564L520.29 86.0233L542.541 129.84L623.526 89.7107L644.654 132.348L721.901 86.1971L748.649 130.967L815.441 82.9345L847.474 127.479L879.065 100.082L840.766 63.4602ZM745.043 61.6753L813.455 2.3409L849.491 43.8905L781.079 103.225L745.043 61.6753ZM642.593 60.2077L719.779 3.92113L752.186 48.3602L674.999 104.647L642.593 60.2077ZM540.299 55.9176L621.232 5.7848L650.195 52.5413L564.239 105.785L537.998 63.4223L458.625 93.6545L439.048 42.2565L522.927 10.3082L540.299 55.9176ZM441.702 60.7546L362.962 98.7836L344.364 60.276L271.959 103.676L248.089 63.8536L187.425 108.332L157.102 66.9747L126.381 94.2793L163.969 129.168L122.409 173.944L158.89 201.623L109.254 267.044L65.4382 233.8L102.299 185.218L67.1689 152.611L104.87 111.993L69.3145 71.9877L43.1295 100.051L78.7338 127.065L39.0144 179.415L71.8669 199.128L30.7877 267.591L-16.3741 239.293L17.1501 183.421L-14.7182 159.242L21.4306 111.597L-12.9422 79.5254L45.2551 17.1529L85.4686 54.6746L72.4455 68.632L132.367 15.3758L167.411 54.8064L223.373 13.7759L251.335 51.914L317.289 12.3813L339.314 49.1262L417.782 11.2283L441.702 60.7546ZM-57.6847 111.868L-90.8225 166.064L-63.9203 182.513L-92.3765 245.085L-42.3108 267.854L-9.78845 196.342L-37.2363 183.859L-1.10495 124.767L-33.1986 105.143L7.41626 52.7365L-36.0568 19.0453L-89.1158 87.5095L-57.6847 111.868ZM-161.336 95.5475L-113.41 20.9981L-67.1455 50.7406L-104.73 109.204L-77.4665 122.347L-108.522 186.766L-88.0197 193.355L-111.979 267.904L-164.341 251.076L-142.431 182.904L-162.95 173.012L-134.058 113.084L-161.336 95.5475ZM542.39 211.542L463.623 261.544L434.146 215.11L518.019 161.866L544.775 204.013L626.182 173.757L645.343 225.312L559.381 257.26L542.39 211.542ZM442.823 207.091L367.507 263.378L334.582 219.321L409.898 163.035L442.823 207.091ZM342.892 205.594L276.138 264.929L239.598 223.82L306.353 164.486L342.892 205.594Z" fill="#03261F"/>
        </g>
        <defs>
          <clipPath id="clip0_33302_7412">
            <rect width="1100" height="101" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    </div>
  </section>
  <div class="footer__top container">
    <p>{{settings.footer_description}}</p>
    <ul class="footer__list">
      <li>
        <a href="{{settings.footer_list_item1_url}}">{{settings.footer_list_item1}}</a>
      </li>
      <li>
        <a href="{{settings.footer_list_item2_url}}">{{settings.footer_list_item2}}</a>
      </li>
      <li>
        <a href="{{settings.footer_list_item3_url}}">{{settings.footer_list_item3}}</a>
      </li>
      {{#if settings.show_footer_list_item4}}
        <li>
          <a href="{{settings.footer_list_item4_url}}">{{settings.footer_list_item4}}</a>
        </li>
      {{/if}}
      {{#if settings.show_footer_list_item5}}
        <li>
          <a href="{{settings.footer_list_item5_url}}">{{settings.footer_list_item5}}</a>
        </li>
      {{/if}}
      {{#if settings.show_footer_list_item6}}
        <li>
          <a href="{{settings.footer_list_item6_url}}">{{settings.footer_list_item6}}</a>
        </li>
      {{/if}}
    </ul>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__social">
        {{#if settings.show_social_icon1}}
          <a href="{{settings.footer_social_link1}}" target="_blank" rel="noreferrer noopener">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 24 24" fill="none">
              <g clip-path="url(#clip0_33_3751)">
                <path d="M24.0002 12C24.0002 5.37258 18.6277 0 12.0002 0C5.37282 0 0.000244141 5.37258 0.000244141 12C0.000244141 17.9895 4.38845 22.954 10.1252 23.8542V15.4688H7.07837V12H10.1252V9.35625C10.1252 6.34875 11.9168 4.6875 14.6578 4.6875C15.9703 4.6875 17.344 4.92188 17.344 4.92188V7.875H15.8309C14.3402 7.875 13.8752 8.80008 13.8752 9.75V12H17.2034L16.6713 15.4688H13.8752V23.8542C19.612 22.954 24.0002 17.9895 24.0002 12Z" fill="#111111"/>
              </g>
              <defs>
                <clipPath id="clip0_33_3751">
                  <rect width="24" height="24" fill="white" transform="translate(0.000244141)"/>
                </clipPath>
              </defs>
            </svg>
          </a>
        {{/if}}
        {{#if settings.show_social_icon2}}
          <a href="{{settings.footer_social_link2}}" target="_blank" rel="noreferrer noopener">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 24 24" fill="none">
              <path d="M22.2237 0H1.77212C0.792432 0 0.000244141 0.773438 0.000244141 1.72969V22.2656C0.000244141 23.2219 0.792432 24 1.77212 24H22.2237C23.2034 24 24.0002 23.2219 24.0002 22.2703V1.72969C24.0002 0.773438 23.2034 0 22.2237 0ZM7.12056 20.4516H3.55806V8.99531H7.12056V20.4516ZM5.33931 7.43438C4.19556 7.43438 3.27212 6.51094 3.27212 5.37187C3.27212 4.23281 4.19556 3.30937 5.33931 3.30937C6.47837 3.30937 7.40181 4.23281 7.40181 5.37187C7.40181 6.50625 6.47837 7.43438 5.33931 7.43438ZM20.4518 20.4516H16.894V14.8828C16.894 13.5562 16.8706 11.8453 15.0424 11.8453C13.1909 11.8453 12.9096 13.2937 12.9096 14.7891V20.4516H9.35649V8.99531H12.769V10.5609H12.8159C13.2893 9.66094 14.4518 8.70938 16.1815 8.70938C19.7862 8.70938 20.4518 11.0813 20.4518 14.1656V20.4516Z" fill="#111111"/>
            </svg>
          </a>
        {{/if}}
        {{#if settings.show_social_icon3}}
          <a href="{{settings.footer_social_link3}}" target="_blank" rel="noreferrer noopener">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 24 24" fill="none">
              <g clip-path="url(#clip0_33_3752)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0002 0C5.37264 0 0.000244141 5.3808 0.000244141 12.0204C0.000244141 17.3304 3.43824 21.8364 8.20704 23.4252C8.80704 23.5356 9.02544 23.1648 9.02544 22.8456C9.02544 22.5612 9.01585 21.804 9.00984 20.802C5.67144 21.528 4.96704 19.1904 4.96704 19.1904C4.42224 17.8008 3.63504 17.4312 3.63504 17.4312C2.54544 16.6872 3.71784 16.7016 3.71784 16.7016C4.92144 16.7856 5.55504 17.94 5.55504 17.94C6.62544 19.776 8.36424 19.2456 9.04704 18.9384C9.15744 18.162 9.46704 17.6328 9.81024 17.3328C7.14624 17.0292 4.34424 15.9972 4.34424 11.3916C4.34424 10.08 4.81224 9.006 5.57904 8.166C5.45544 7.8624 5.04384 6.6396 5.69664 4.986C5.69664 4.986 6.70464 4.662 8.99664 6.2172C9.97557 5.95022 10.9856 5.81423 12.0002 5.8128C13.0202 5.8176 14.0462 5.9508 15.005 6.2172C17.2958 4.662 18.3014 4.9848 18.3014 4.9848C18.9566 6.6396 18.5438 7.8624 18.4214 8.166C19.1894 9.006 19.655 10.08 19.655 11.3916C19.655 16.0092 16.8482 17.0256 14.1758 17.3232C14.6066 17.694 14.9894 18.4272 14.9894 19.5492C14.9894 21.1548 14.975 22.452 14.975 22.8456C14.975 23.1672 15.191 23.5416 15.8006 23.424C18.1902 22.6225 20.2675 21.0904 21.7388 19.0441C23.2102 16.9977 24.0013 14.5408 24.0002 12.0204C24.0002 5.3808 18.6266 0 12.0002 0Z" fill="#111111"/>
              </g>
              <defs>
                <clipPath id="clip0_33_3752">
                  <rect width="24" height="24" fill="white" transform="translate(0.000244141)"/>
                </clipPath>
              </defs>
            </svg>
          </a>
        {{/if}}
        {{#if settings.show_social_icon4}}
          <a href="{{settings.footer_social_link4}}" target="_blank" rel="noreferrer noopener">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
            </svg>
          </a>
        {{/if}}
        {{#if settings.show_social_icon5}}
          <a href="{{settings.footer_social_link5}}" target="_blank" rel="noreferrer noopener">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/>
            </svg>
          </a>
        {{/if}}
        {{#if settings.show_social_icon6}}
          <a href="{{settings.footer_social_link6}}" target="_blank" rel="noreferrer noopener">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <path d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z"/>
            </svg>
          </a>
        {{/if}}
      </div>
      <p class="footer__right">{{settings.footer_right}}</p>
    </div>
  </div>
</footer>