{{!-- Top Banner Section --}}
<section id="main-content" class="hero section">
  <div class="container">
    <div class="hero__content">
      <div class="hero__content-top">
        <h1 class="hero-text fade-in-up">{{settings.hero_heading}}</h1>
        {{#if settings.show_hero_text}}
          <p class="fade-in-up">{{settings.hero_text}}</p>
        {{/if}}
      </div>
      <div class="hero__content-bottom">
        <div class="hero-inner fade-in-up">
          <h2 class="visibility-hidden">{{ t 'search' }}</h2>
          <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
            <path d="M15.49 14.645L12.24 11.395H12.205C13.2068 10.2139 13.713 8.69119 13.6178 7.1454C13.5226 5.59961 12.8334 4.15049 11.6943 3.10119C10.5553 2.05189 9.05456 1.48368 7.50616 1.51542C5.95777 1.54717 4.48162 2.17641 3.38651 3.27152C2.2914 4.36663 1.66216 5.84278 1.63041 7.39117C1.59867 8.93957 2.16688 10.4403 3.21618 11.5793C4.26548 12.7184 5.7146 13.4076 7.26039 13.5028C8.80618 13.598 10.3289 13.0918 11.51 12.09C11.51 12.09 11.51 12.115 11.51 12.125L14.76 15.375C14.8065 15.4219 14.8618 15.4591 14.9227 15.4845C14.9837 15.5099 15.049 15.5229 15.115 15.5229C15.181 15.5229 15.2464 15.5099 15.3073 15.4845C15.3683 15.4591 15.4236 15.4219 15.47 15.375C15.5213 15.3297 15.5627 15.2742 15.5917 15.2122C15.6206 15.1502 15.6365 15.0828 15.6384 15.0144C15.6403 14.9459 15.6281 14.8778 15.6026 14.8143C15.577 14.7508 15.5387 14.6932 15.49 14.645ZM7.63504 12.5C6.64613 12.5 5.67943 12.2068 4.85719 11.6574C4.03494 11.108 3.39408 10.3271 3.01564 9.41346C2.6372 8.49983 2.53818 7.4945 2.73111 6.5246C2.92404 5.55469 3.40024 4.66378 4.0995 3.96451C4.79877 3.26525 5.68968 2.78905 6.65959 2.59612C7.62949 2.40319 8.63482 2.50221 9.54845 2.88065C10.4621 3.25909 11.243 3.89995 11.7924 4.7222C12.3418 5.54444 12.635 6.51114 12.635 7.50005C12.635 8.15666 12.5057 8.80684 12.2544 9.41346C12.0032 10.0201 11.6349 10.5713 11.1706 11.0356C10.7063 11.4999 10.1551 11.8682 9.54845 12.1194C8.94183 12.3707 8.29165 12.5 7.63504 12.5Z" fill="#686B71"/>
          </svg>
          {{search instant=settings.instant_search class='search search-full'}}
        </div>
        {{#if settings.show_popular_keywords}}
          <div class="popular-keywords fade-in-up" data-keywords="{{settings.popular_keywords}}">
            <div>
              <p>{{settings.popular_keywords_description}}</p>
            </div>
            <div class="popular-keywords__items"></div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</section>

{{#if settings.show_introduction_section}}
  {{!-- Introduction Section --}}
  <section class="introduction section">
    <div class="container">
      <div class="introduction__items">
        <div class="introduction__item fade-in-up">
          <div class="introduction__head">
            <div>1</div>
            <h5>
              <a href="{{settings.introduction_item1_link}}">{{settings.introduction_item1_heading}}</a>
            </h5>
          </div>
          <p>{{settings.introduction_item1_subtitle}}</p>
        </div>
        <div class="introduction__item fade-in-up">
          <div class="introduction__head">
            <div>2</div>
            <h5>
              <a href="{{settings.introduction_item2_link}}">{{settings.introduction_item2_heading}}</a>
            </h5>
          </div>
          <p>{{settings.introduction_item2_subtitle}}</p>
        </div>
        <div class="introduction__item fade-in-up">
          <div class="introduction__head">
            <div>3</div>
            <h5>
              <a href="{{settings.introduction_item3_link}}">{{settings.introduction_item3_heading}}</a>
            </h5>
          </div>
          <p>{{settings.introduction_item3_subtitle}}</p>
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="1429" height="270" viewBox="0 0 1429 270" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1372.94 82.2598L1341.28 146.344L1368.89 159.986L1330.71 217.932L1376.64 248.191L1425.76 173.642L1398.13 155.441L1427.42 96.1574L1406.54 85.8394L1428.87 18.0436L1376.63 0.837402L1352.07 75.3868L1372.94 82.2598ZM1271.92 72.3563L1305.25 0.844298L1355.1 24.0788L1326.22 86.0345L1353.49 103.123L1320.04 156.502L1351.74 181.679L1297.37 250.143L1254.3 215.936L1295.4 164.189L1263.03 143.907L1299.74 85.324L1271.92 72.3563ZM1188.25 69.5473L1230.34 1.08377L1277.2 29.8932L1243.34 84.9456L1275.5 109.947L1239.18 156.652L1273.69 189.65L1214.05 252.022L1174.3 214.011L1216.95 169.4L1181.21 141.607L1221.39 89.9296L1188.25 69.5473ZM1099.06 67.0487L1149.93 1.62782L1193.35 35.3886L1156.32 83.015L1191.59 116.565L1153.9 156.19L1189.71 197.484L1124.8 253.775L1089.94 213.584L1031.57 255.343L1003.88 216.636L935.383 256.7L910.542 214.227L913.162 219.786L832.466 257.815L809.02 208.063L889.715 170.034L908.061 208.963L983.05 165.104L1006.69 205.52L1069.74 160.411L1099.9 202.566L1131.41 175.244L1093.85 139.517L1135.69 95.5284L1099.06 67.0487ZM1006.18 64.9007L1065.82 2.52823L1105.57 40.5394L1060.77 87.3958L1067.7 81.3805L1103.74 122.932L1038.83 179.223L1002.79 137.672L1011.78 129.881L941.038 180.753L910.281 137.984L836.579 182.016L812.106 141.053L727.397 183.029L705.4 138.638L625.726 179.099L604.321 136.948L529.794 182.579L502.792 138.478L438.572 185.807L406.367 142.109L375.593 169.46L413.925 205.226L355.727 267.598L315.514 230.076L354.974 187.786L353.866 188.77L317.329 147.66L380.665 91.3683L417.203 132.478L412.227 136.9L476.126 89.8073L507.176 131.937L578.105 88.5093L602.9 129.005L684.702 87.4638L707.154 131.677L788.939 91.1512L810.066 133.788L887.314 87.6376L914.061 132.408L980.853 84.375L1012.89 128.919L1044.48 101.523L1006.18 64.9007ZM910.455 63.1158L978.867 3.78139L1014.9 45.331L946.492 104.665L910.455 63.1158ZM808.005 61.6482L885.192 5.36162L917.598 49.8007L840.412 106.087L808.005 61.6482ZM704.902 57.8593L786.644 7.22529L815.607 53.9818L729.651 107.226L703.219 64.5547L623.037 95.095L603.46 43.697L687.339 11.7487L704.902 57.8593ZM606.114 62.1951L527.375 100.224L508.776 61.7165L436.371 105.116L412.501 65.2941L351.837 109.772L321.515 68.4152L290.793 95.7198L328.381 130.609L286.821 175.385L323.303 203.064L273.666 268.485L229.851 235.241L266.711 186.658L231.581 154.051L269.282 113.433L233.727 73.4282L207.542 101.492L243.146 128.505L203.427 180.856L236.279 200.568L195.2 269.032L148.038 240.734L181.562 184.861L149.694 160.682L185.843 113.038L151.47 80.9659L209.667 18.5934L249.881 56.1151L236.858 70.0725L296.779 16.8163L331.824 56.2469L387.785 15.2164L415.748 53.3545L481.701 13.8218L503.726 50.5667L582.195 12.6688L606.114 62.1951ZM106.728 113.309L73.5899 167.505L100.492 183.954L72.0358 246.525L122.102 269.294L154.624 197.782L127.176 185.299L163.307 126.207L131.214 106.584L171.829 54.177L128.356 20.4858L75.2966 88.95L106.728 113.309ZM3.07613 96.988L51.0026 22.4386L97.2669 52.1811L59.6821 110.644L86.9459 123.788L55.89 188.206L76.3927 194.796L52.4332 269.345L0.0710449 252.516L21.9809 184.344L1.46273 174.453L30.3539 114.524L3.07613 96.988ZM707.611 212.469L628.035 262.984L598.558 216.551L682.431 163.307L709.378 205.754L791.595 175.198L810.755 226.752L724.794 258.701L707.611 212.469ZM607.236 208.531L531.919 264.818L498.995 220.762L574.311 164.475L607.236 208.531ZM507.304 207.035L440.55 266.369L404.011 225.261L470.765 165.926L507.304 207.035Z" fill="#03261F"/>
    </svg>
  </section>
{{/if}}

{{!-- Promoted Articles --}}
{{#if settings.show_promoted_section}}
  {{#if promoted_articles}}
    <section class="promoted-articles section">
      <div class="container">
        <div>
          <h2 class="fade-in-up">{{settings.promoted_section_heading}}</h2>
          <p class="p-large fade-in-up">{{settings.promoted_subtitle}}</p>
          <div class="promoted-articles__items">
            {{#each promoted_articles}}
              <div class="promoted-articles__item fade-in-up">
                <h6><a href="{{url}}">{{title}}</a></h6>
                <div>{{body}}</div>
              </div>
            {{/each}}
          </div>
        </div>
        {{#if settings.show_promoted_popular_keywords}}
          <div class="promoted-articles__keywords">
            <div class="popular-keywords fade-in-up" data-keywords="{{settings.promoted_popular_keywords}}">
              <div>
                <p>{{settings.promoted_keywords_description}}</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                  <path d="M8.00002 3.83331L8.00002 13.1666M8.00002 13.1666L12.6667 8.49998M8.00002 13.1666L3.33335 8.49998" stroke="#535862" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
              <div class="popular-keywords__items"></div>
            </div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" width="280" height="437" viewBox="0 0 280 437" fill="none">
              <path d="M-298.055 198.575C-246.951 236.731 -192.812 251.067 -133.5 224.813C-74.1891 198.559 -9.7059 131.715 47.2128 124.238C104.132 116.761 153.486 168.652 206.223 193.994C235.214 207.925 265.228 213.833 296 213.794L296 2.9668C284.053 2.0372 272.109 1.1434 260.187 0.612796C227.021 -0.863306 194.027 0.4712 161.111 3.07597C128.194 5.68074 95.3558 9.55574 63.6133 31.364C31.8709 53.1723 1.22473 92.9139 -30.4568 115.718C-62.1383 138.523 -94.8553 144.391 -128.145 140.892C-161.434 137.394 -195.296 124.53 -229.578 104.793C-260.372 87.0635 -291.506 63.7886 -320 50.6016L-320 180.669C-312.791 187.026 -305.455 193.05 -298.055 198.575Z" fill="url(#paint0_linear_14_193)" fill-opacity="0.2"/>
              <path d="M-20.1334 269.218C-73.6624 287.566 -119.901 359.718 -171.124 395.083C-217.214 426.904 -267.339 428.942 -320 412.269L-320 437L296 437L296 280.132C249.727 299.297 201.992 307.669 151.774 297.726C94.2152 286.329 33.3956 250.871 -20.1334 269.218Z" fill="url(#paint1_linear_14_193)" fill-opacity="0.2"/>
              <path d="M-133.63 224.519C-192.805 250.713 -246.822 236.426 -297.863 198.318C-305.218 192.827 -312.51 186.841 -319.679 180.524L-319.679 51.105C-305.591 57.6713 -290.856 66.6852 -275.824 76.2647C-272.434 78.4254 -269.028 80.615 -265.612 82.8115C-253.724 90.4544 -241.705 98.1816 -229.738 105.071C-195.431 124.823 -161.526 137.707 -128.178 141.212C-94.8226 144.717 -62.024 138.836 -30.2691 115.979C-14.8598 104.887 0.299927 89.7993 15.4364 74.7345C15.885 74.288 16.3335 73.8416 16.782 73.3953C32.376 57.8789 47.9524 42.5134 63.7952 31.6288C95.4619 9.87255 128.224 6.00059 161.136 3.39619C194.045 0.792032 227.025 -0.54162 260.173 0.933719C271.99 1.45966 283.831 2.34271 295.679 3.26401L295.679 213.473C265.062 213.471 235.205 207.564 206.362 193.704C193.197 187.378 180.238 179.392 167.307 171.082C164.257 169.122 161.209 167.143 158.159 165.164C148.285 158.757 138.404 152.344 128.448 146.532C102.388 131.317 75.7405 120.167 47.1709 123.92C18.6244 127.669 -11.7865 146.297 -42.4277 167.219C-48.1919 171.154 -53.9645 175.172 -59.7355 179.188C-84.6717 196.541 -109.577 213.872 -133.63 224.519ZM-170.941 395.348C-150.113 380.967 -130.107 360.512 -110.127 340.083C-105.508 335.361 -100.891 330.64 -96.2658 325.996C-71.6071 301.239 -46.7135 278.668 -20.0292 269.522C6.63985 260.381 35.1474 264.636 64.224 272.628C75.3288 275.68 86.5054 279.274 97.6896 282.87C101.147 283.982 104.605 285.094 108.061 286.19C122.696 290.831 137.304 295.188 151.712 298.041C201.845 307.967 249.501 299.665 295.679 280.612L295.679 436.679L-319.679 436.679L-319.679 412.707C-267.101 429.259 -217.01 427.154 -170.941 395.348Z" stroke="url(#paint2_linear_14_193)" stroke-opacity="0.2" stroke-width="0.642458" stroke-linecap="round" stroke-linejoin="round"/>
              <defs>
                <linearGradient id="paint0_linear_14_193" x1="341.123" y1="361.21" x2="-123.014" y2="256.144" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#418CFE"/>
                  <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint1_linear_14_193" x1="341.123" y1="361.21" x2="-123.014" y2="256.144" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#418CFE"/>
                  <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint2_linear_14_193" x1="298.948" y1="161.324" x2="-191.97" y2="59.9678" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#418CFE"/>
                  <stop offset="1" stop-color="white" stop-opacity="0"/>
                </linearGradient>
              </defs>
            </svg>
          </div>
        {{/if}}
      </div>
    </section>
  {{/if}}
{{/if}}

{{#if settings.show_category1_section}}
{{!-- Categories Section --}}
<section class="categories section">
  <div class="container">
    <div class="categories__header">
      <h2 class="fade-in-up">{{settings.category2_heading}}</h2>
      {{#if settings.show_category2_subtitle}}
        <p class="p-large fade-in-up">{{settings.category2_subtitle}}</p>
      {{/if}}
      <svg xmlns="http://www.w3.org/2000/svg" width="1216" height="341" viewBox="0 0 1216 341" fill="none">
        <path d="M45.9556 230.327C152.976 310.13 266.352 340.115 390.559 285.204C514.766 230.293 649.804 90.4858 769.001 74.8479C888.197 59.21 991.553 167.741 1101.99 220.744C1162.71 249.882 1225.56 262.239 1290 262.157L1290 -178.795C1264.98 -180.739 1239.97 -182.609 1215 -183.718C1145.55 -186.806 1076.45 -184.015 1007.52 -178.567C938.589 -173.119 869.82 -165.014 803.346 -119.401C736.872 -73.7885 672.695 9.33245 606.349 57.0289C540.003 104.725 471.488 116.998 401.775 109.681C332.062 102.364 261.149 75.4585 189.357 34.1772C124.87 -2.90383 59.6718 -51.584 5.14183e-05 -79.165L7.52008e-05 192.875C15.0965 206.171 30.4594 218.771 45.9556 230.327Z" fill="url(#paint0_linear_265_2189)" fill-opacity="0.6"/>
        <path d="M627.967 378.079C515.869 416.453 419.039 567.362 311.77 641.33C215.251 707.885 110.28 712.146 0.000117548 677.273L0.00012207 729L1290 729L1290 400.905C1193.1 440.99 1093.13 458.499 987.969 437.704C867.431 413.867 740.065 339.705 627.967 378.079Z" fill="url(#paint1_linear_265_2189)" fill-opacity="0.6"/>
        <path d="M390.429 284.91C266.359 339.761 153.105 309.826 46.1477 230.069C30.6967 218.547 15.3773 205.986 0.321364 192.73L0.321341 -78.6623C29.9979 -64.8985 61.0435 -45.9348 92.7003 -25.7854C99.8032 -21.2644 106.937 -16.6837 114.093 -12.0888C138.986 3.89567 164.146 20.0511 189.197 34.4557C261.014 75.7514 331.97 102.678 401.741 110C471.521 117.324 540.117 105.039 606.536 57.2897C638.783 34.1075 670.513 2.56713 702.219 -28.95C703.155 -29.88 704.09 -30.8099 705.026 -31.7397C737.677 -64.188 770.319 -96.3494 803.528 -119.136C869.926 -164.697 938.619 -172.799 1007.55 -178.246C1076.47 -183.694 1145.55 -186.484 1214.99 -183.397C1239.85 -182.292 1264.76 -180.434 1289.68 -178.498L1289.68 261.836C1225.39 261.876 1162.7 249.521 1102.13 220.455C1074.54 207.213 1047.39 190.501 1020.31 173.118C1013.92 169.016 1007.53 164.877 1001.14 160.738C980.468 147.337 959.784 133.931 938.942 121.778C884.384 89.9662 828.667 66.696 768.959 74.5294C709.274 82.3597 645.655 121.268 581.478 165.033C569.414 173.26 557.33 181.658 545.248 190.056C493.026 226.352 440.836 262.626 390.429 284.91ZM311.952 641.594C355.54 611.539 397.405 568.786 439.244 526.061C448.919 516.181 458.592 506.303 468.285 496.584C519.919 444.809 572.103 397.542 628.072 378.383C684.025 359.229 743.812 368.153 804.718 384.872C827.982 391.258 851.397 398.778 874.821 406.3C882.059 408.625 889.298 410.95 896.534 413.241C927.178 422.947 957.754 432.056 987.907 438.019C1092.99 458.798 1192.87 441.358 1289.68 401.386L1289.68 728.679L0.321411 728.679L0.321407 677.712C110.518 712.464 215.454 708.135 311.952 641.594Z" stroke="url(#paint2_linear_265_2189)" stroke-opacity="0.5" stroke-width="0.642458" stroke-linecap="round" stroke-linejoin="round"/>
        <defs>
          <linearGradient id="paint0_linear_265_2189" x1="1384.49" y1="570.483" x2="412.637" y2="350.21" gradientUnits="userSpaceOnUse">
            <stop stop-color="white"/>
            <stop offset="1" stop-color="white" stop-opacity="0"/>
          </linearGradient>
          <linearGradient id="paint1_linear_265_2189" x1="1384.49" y1="570.483" x2="412.637" y2="350.21" gradientUnits="userSpaceOnUse">
            <stop stop-color="white"/>
            <stop offset="1" stop-color="white" stop-opacity="0"/>
          </linearGradient>
          <linearGradient id="paint2_linear_265_2189" x1="1296.17" y1="152.414" x2="268.219" y2="-60.0855" gradientUnits="userSpaceOnUse">
            <stop stop-color="white"/>
            <stop offset="1" stop-color="white" stop-opacity="0"/>
          </linearGradient>
        </defs>
      </svg>
      <div class="gradient"></div>
    </div>
    <div class="categories__list">
      {{#each categories}}
        <div class="categories__section fade-in-up">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path d="M15.75 11.25L11.25 15.747L3.00166 15.75C2.58653 15.75 2.25 15.4163 2.25 15.0049V2.99505C2.25 2.58357 2.58371 2.25 2.99505 2.25H15.0049C15.4164 2.25 15.75 2.59182 15.75 3.00185V11.25ZM14.25 3.75H3.75V14.25H9.75V10.5C9.75 10.1154 10.0395 9.79837 10.4125 9.75502L10.5 9.75L14.25 9.74925V3.75ZM13.6283 11.2492L11.25 11.25V13.6268L13.6283 11.2492Z" fill="white"/>
            </svg>
          </div>
          <h6><a href="{{url}}">{{name}}</a></h6>
          {{#if description}}
            <p>{{description}}</p>
          {{/if}}
          <div>
            {{t 'see_all_sections'}}
            <a href="{{url}}"></a>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
              <path d="M4.16669 10.5H15.8334M15.8334 10.5L10 4.66663M15.8334 10.5L10 16.3333" stroke="#418CFE" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
{{/if}}

{{#if settings.show_category2_section}}
{{!-- Categories Section --}}
<section class="categories categories-layout2 section">
  <div class="container">
    {{#each categories}}
      <div class="categories__item">
        <div class="categories__head">
          <div class="fade-in-up">
            <h2>{{name}}</h2>
            <p class="p-large">{{description}}</p>
          </div>
          <div class="fade-in-up">
            <a class="button button-primary" href="{{url}}">{{t 'see_all_sections'}}</a>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="1216" height="341" viewBox="0 0 1216 341" fill="none">
            <path d="M45.9556 230.327C152.976 310.13 266.352 340.115 390.559 285.204C514.766 230.293 649.804 90.4858 769.001 74.8479C888.197 59.21 991.553 167.741 1101.99 220.744C1162.71 249.882 1225.56 262.239 1290 262.157L1290 -178.795C1264.98 -180.739 1239.97 -182.609 1215 -183.718C1145.55 -186.806 1076.45 -184.015 1007.52 -178.567C938.589 -173.119 869.82 -165.014 803.346 -119.401C736.872 -73.7885 672.695 9.33245 606.349 57.0289C540.003 104.725 471.488 116.998 401.775 109.681C332.062 102.364 261.149 75.4585 189.357 34.1772C124.87 -2.90383 59.6718 -51.584 5.14183e-05 -79.165L7.52008e-05 192.875C15.0965 206.171 30.4594 218.771 45.9556 230.327Z" fill="url(#paint0_linear_265_2189)" fill-opacity="0.6"/>
            <path d="M627.967 378.079C515.869 416.453 419.039 567.362 311.77 641.33C215.251 707.885 110.28 712.146 0.000117548 677.273L0.00012207 729L1290 729L1290 400.905C1193.1 440.99 1093.13 458.499 987.969 437.704C867.431 413.867 740.065 339.705 627.967 378.079Z" fill="url(#paint1_linear_265_2189)" fill-opacity="0.6"/>
            <path d="M390.429 284.91C266.359 339.761 153.105 309.826 46.1477 230.069C30.6967 218.547 15.3773 205.986 0.321364 192.73L0.321341 -78.6623C29.9979 -64.8985 61.0435 -45.9348 92.7003 -25.7854C99.8032 -21.2644 106.937 -16.6837 114.093 -12.0888C138.986 3.89567 164.146 20.0511 189.197 34.4557C261.014 75.7514 331.97 102.678 401.741 110C471.521 117.324 540.117 105.039 606.536 57.2897C638.783 34.1075 670.513 2.56713 702.219 -28.95C703.155 -29.88 704.09 -30.8099 705.026 -31.7397C737.677 -64.188 770.319 -96.3494 803.528 -119.136C869.926 -164.697 938.619 -172.799 1007.55 -178.246C1076.47 -183.694 1145.55 -186.484 1214.99 -183.397C1239.85 -182.292 1264.76 -180.434 1289.68 -178.498L1289.68 261.836C1225.39 261.876 1162.7 249.521 1102.13 220.455C1074.54 207.213 1047.39 190.501 1020.31 173.118C1013.92 169.016 1007.53 164.877 1001.14 160.738C980.468 147.337 959.784 133.931 938.942 121.778C884.384 89.9662 828.667 66.696 768.959 74.5294C709.274 82.3597 645.655 121.268 581.478 165.033C569.414 173.26 557.33 181.658 545.248 190.056C493.026 226.352 440.836 262.626 390.429 284.91ZM311.952 641.594C355.54 611.539 397.405 568.786 439.244 526.061C448.919 516.181 458.592 506.303 468.285 496.584C519.919 444.809 572.103 397.542 628.072 378.383C684.025 359.229 743.812 368.153 804.718 384.872C827.982 391.258 851.397 398.778 874.821 406.3C882.059 408.625 889.298 410.95 896.534 413.241C927.178 422.947 957.754 432.056 987.907 438.019C1092.99 458.798 1192.87 441.358 1289.68 401.386L1289.68 728.679L0.321411 728.679L0.321407 677.712C110.518 712.464 215.454 708.135 311.952 641.594Z" stroke="url(#paint2_linear_265_2189)" stroke-opacity="0.5" stroke-width="0.642458" stroke-linecap="round" stroke-linejoin="round"/>
            <defs>
              <linearGradient id="paint0_linear_265_2189" x1="1384.49" y1="570.483" x2="412.637" y2="350.21" gradientUnits="userSpaceOnUse">
                <stop stop-color="white"/>
                <stop offset="1" stop-color="white" stop-opacity="0"/>
              </linearGradient>
              <linearGradient id="paint1_linear_265_2189" x1="1384.49" y1="570.483" x2="412.637" y2="350.21" gradientUnits="userSpaceOnUse">
                <stop stop-color="white"/>
                <stop offset="1" stop-color="white" stop-opacity="0"/>
              </linearGradient>
              <linearGradient id="paint2_linear_265_2189" x1="1296.17" y1="152.414" x2="268.219" y2="-60.0855" gradientUnits="userSpaceOnUse">
                <stop stop-color="white"/>
                <stop offset="1" stop-color="white" stop-opacity="0"/>
              </linearGradient>
            </defs>
          </svg>
          <div class="gradient"></div>
        </div>
        <div class="categories__sections">
          {{#each sections}}
            <div class="categories__section fade-in-up">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <path d="M15.75 11.25L11.25 15.747L3.00166 15.75C2.58653 15.75 2.25 15.4163 2.25 15.0049V2.99505C2.25 2.58357 2.58371 2.25 2.99505 2.25H15.0049C15.4164 2.25 15.75 2.59182 15.75 3.00185V11.25ZM14.25 3.75H3.75V14.25H9.75V10.5C9.75 10.1154 10.0395 9.79837 10.4125 9.75502L10.5 9.75L14.25 9.74925V3.75ZM13.6283 11.2492L11.25 11.25V13.6268L13.6283 11.2492Z" fill="white"/>
                </svg>
              </div>
              <div>
                <h6><a href="{{url}}">{{name}}</a></h6>
                <ul>
                  {{#each articles}}
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                      <g clip-path="url(#clip0_33345_397)">
                        <path d="M16.9452 4.58713L13.1787 1.02377C12.7781 0.644746 12.2537 0.436035 11.7022 0.436035H4.53125C3.3466 0.436035 2.38281 1.39982 2.38281 2.58447V18.2876C2.38281 19.4722 3.3466 20.436 4.53125 20.436H15.4688C16.6534 20.436 17.6172 19.4722 17.6172 18.2876V6.14783C17.6172 5.55998 17.3723 4.99111 16.9452 4.58713ZM15.8071 5.12354H12.8906C12.7829 5.12354 12.6953 5.03592 12.6953 4.92822V2.17963L15.8071 5.12354ZM15.4688 19.2642H4.53125C3.99277 19.2642 3.55469 18.8261 3.55469 18.2876V2.58447C3.55469 2.046 3.99277 1.60791 4.53125 1.60791H11.5234V4.92822C11.5234 5.68209 12.1368 6.29541 12.8906 6.29541H16.4453V18.2876C16.4453 18.8261 16.0072 19.2642 15.4688 19.2642Z" fill="#1B1641"/>
                        <path d="M14.1797 8.24854H5.58594C5.26234 8.24854 5 8.51088 5 8.83447C5 9.15807 5.26234 9.42041 5.58594 9.42041H14.1797C14.5033 9.42041 14.7656 9.15807 14.7656 8.83447C14.7656 8.51088 14.5033 8.24854 14.1797 8.24854Z" fill="#1B1641"/>
                        <path d="M14.1797 11.3735H5.58594C5.26234 11.3735 5 11.6359 5 11.9595C5 12.2831 5.26234 12.5454 5.58594 12.5454H14.1797C14.5033 12.5454 14.7656 12.2831 14.7656 11.9595C14.7656 11.6359 14.5033 11.3735 14.1797 11.3735Z" fill="#1B1641"/>
                        <path d="M8.42656 14.4985H5.58594C5.26234 14.4985 5 14.7609 5 15.0845C5 15.4081 5.26234 15.6704 5.58594 15.6704H8.42656C8.75016 15.6704 9.0125 15.4081 9.0125 15.0845C9.0125 14.7609 8.75016 14.4985 8.42656 14.4985Z" fill="#1B1641"/>
                      </g>
                      <defs>
                        <clipPath id="clip0_33345_397">
                          <rect width="20" height="20" fill="white" transform="translate(0 0.436035)"/>
                        </clipPath>
                      </defs>
                    </svg>
                    <a href="{{url}}">{{title}}</a>
                  </li>
                  {{/each}}
                </ul>
              </div>
              <div>
                {{t 'show_all_articles'}}
                <a href="{{url}}"></a>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                  <path d="M4.16669 10.5H15.8334M15.8334 10.5L10 4.66663M15.8334 10.5L10 16.3333" stroke="#418CFE" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
          {{/each}}
        </div>
        <div class="mobile-button fade-in-up">
          <a class="button button-primary" href="{{url}}">{{t 'see_all_sections'}}</a>
        </div>
      </div>
    {{/each}}
  </div>
</section>
{{/if}}

{{#if settings.show_faq_section}}
{{!-- FAQ Section --}}
<section class="faq section">
  <div class="container">
    <h2 class="h2 fade-in-up">{{settings.faq_heading}}</h2>
    <p class="p-large fade-in-up">{{settings.faq_subtitle}}</p>
    <div class="faq__items">
      <div class="faq__item fade-in-up">
        <h6>{{settings.faq_item1_heading}}</h6>
        <p>{{settings.faq_item1_text}}</p>
      </div>
      <div class="faq__item fade-in-up">
        <h6>{{settings.faq_item2_heading}}</h6>
        <p>{{settings.faq_item2_text}}</p>
      </div>
      <div class="faq__item fade-in-up">
        <h6>{{settings.faq_item3_heading}}</h6>
        <p>{{settings.faq_item3_text}}</p>
      </div>
      <div class="faq__item fade-in-up">
        <h6>{{settings.faq_item4_heading}}</h6>
        <p>{{settings.faq_item4_text}}</p>
      </div>
      {{#if settings.show_faq_item5}}
        <div class="faq__item fade-in-up">
          <h6>{{settings.faq_item5_heading}}</h6>
          <p>{{settings.faq_item5_text}}</p>
        </div>
      {{/if}}
      {{#if settings.show_faq_item6}}
        <div class="faq__item fade-in-up">
          <h6>{{settings.faq_item6_heading}}</h6>
          <p>{{settings.faq_item6_text}}</p>
        </div>
      {{/if}}
    </div>
  </div>
</section>
{{/if}}

