<div class="section-page section">
  <div>
    <div class="container">
      <div class="section-page__heading">
        <h1 class="fade-in-up">{{section.name}}</h1>
        {{#if settings.show_follow_section}}
          <div class="section-subscribe fade-in-up">{{subscribe}}</div>
        {{/if}}
      </div>
      {{#if section.description}}
          <p class="p-large fade-in-up">{{section.description}}</p>
      {{/if}}
      <div class="hero-inner fade-in-up">
        <h2 class="visibility-hidden">{{ t 'search' }}</h2>
        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
          <path d="M15.49 14.645L12.24 11.395H12.205C13.2068 10.2139 13.713 8.69119 13.6178 7.1454C13.5226 5.59961 12.8334 4.15049 11.6943 3.10119C10.5553 2.05189 9.05456 1.48368 7.50616 1.51542C5.95777 1.54717 4.48162 2.17641 3.38651 3.27152C2.2914 4.36663 1.66216 5.84278 1.63041 7.39117C1.59867 8.93957 2.16688 10.4403 3.21618 11.5793C4.26548 12.7184 5.7146 13.4076 7.26039 13.5028C8.80618 13.598 10.3289 13.0918 11.51 12.09C11.51 12.09 11.51 12.115 11.51 12.125L14.76 15.375C14.8065 15.4219 14.8618 15.4591 14.9227 15.4845C14.9837 15.5099 15.049 15.5229 15.115 15.5229C15.181 15.5229 15.2464 15.5099 15.3073 15.4845C15.3683 15.4591 15.4236 15.4219 15.47 15.375C15.5213 15.3297 15.5627 15.2742 15.5917 15.2122C15.6206 15.1502 15.6365 15.0828 15.6384 15.0144C15.6403 14.9459 15.6281 14.8778 15.6026 14.8143C15.577 14.7508 15.5387 14.6932 15.49 14.645ZM7.63504 12.5C6.64613 12.5 5.67943 12.2068 4.85719 11.6574C4.03494 11.108 3.39408 10.3271 3.01564 9.41346C2.6372 8.49983 2.53818 7.4945 2.73111 6.5246C2.92404 5.55469 3.40024 4.66378 4.0995 3.96451C4.79877 3.26525 5.68968 2.78905 6.65959 2.59612C7.62949 2.40319 8.63482 2.50221 9.54845 2.88065C10.4621 3.25909 11.243 3.89995 11.7924 4.7222C12.3418 5.54444 12.635 6.51114 12.635 7.50005C12.635 8.15666 12.5057 8.80684 12.2544 9.41346C12.0032 10.0201 11.6349 10.5713 11.1706 11.0356C10.7063 11.4999 10.1551 11.8682 9.54845 12.1194C8.94183 12.3707 8.29165 12.5 7.63504 12.5Z" fill="#686B71"/>
        </svg>
        {{search instant=settings.instant_search class='search search-full'}}
      </div>
    </div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" width="1440" height="586" viewBox="0 0 1440 586" fill="none">
      <path d="M52.2255 18.5817C173.847 109.387 302.692 143.505 443.845 81.024C584.998 18.543 738.46 -140.537 873.919 -158.331C1009.38 -176.124 1126.83 -52.6315 1252.34 7.67842C1321.34 40.8331 1392.77 54.8931 1466 54.7996L1466 -446.939C1437.57 -449.152 1409.14 -451.279 1380.77 -452.542C1301.84 -456.055 1223.32 -452.879 1144.98 -446.68C1066.64 -440.481 988.493 -431.259 912.95 -379.358C837.407 -327.457 764.473 -232.878 689.075 -178.606C613.677 -124.334 535.815 -110.37 456.591 -118.696C377.366 -127.021 296.779 -157.636 215.192 -204.608C141.906 -246.801 67.813 -302.192 4.16785e-05 -333.575L6.87395e-05 -24.033C17.1561 -8.9035 34.6152 5.43335 52.2255 18.5817Z" fill="url(#paint0_linear_44_2621)" fill-opacity="0.2"/>
      <path d="M713.644 186.703C586.252 230.367 476.21 402.08 354.306 486.244C244.618 561.974 125.326 566.823 0.000116925 527.142L0.00012207 586L1466 586L1466 212.675C1355.88 258.286 1242.27 278.209 1122.76 254.547C985.778 227.425 841.036 143.039 713.644 186.703Z" fill="url(#paint1_linear_44_2621)" fill-opacity="0.2"/>
      <path d="M443.715 80.7303C302.698 143.151 173.976 109.082 52.4177 18.3243C34.8526 5.20972 17.4368 -9.08874 0.321358 -24.178L0.321331 -333.072C34.0684 -317.407 69.373 -295.815 105.371 -272.874C113.443 -267.73 121.551 -262.518 129.683 -257.289C157.973 -239.101 186.564 -220.719 215.032 -204.33C296.644 -157.343 377.274 -126.708 456.557 -118.376C535.848 -110.044 613.792 -124.021 689.263 -178.345C725.906 -204.721 761.962 -240.606 797.995 -276.469L801.185 -279.643C838.29 -316.564 875.389 -353.162 913.132 -379.093C988.599 -430.942 1066.67 -440.161 1145.01 -446.359C1223.34 -452.558 1301.84 -455.733 1380.76 -452.221C1409.02 -450.963 1437.35 -448.846 1465.68 -446.642L1465.68 54.4787C1392.6 54.5307 1321.33 40.472 1252.48 7.38887C1221.12 -7.67948 1190.26 -26.6968 1159.49 -46.4762C1152.23 -51.1433 1144.97 -55.8531 1137.71 -60.5634C1114.21 -75.8118 1090.71 -91.0651 1067.02 -104.892C1005.02 -141.089 941.717 -167.56 873.877 -158.649C806.06 -149.741 733.77 -105.475 660.836 -55.6763C647.127 -46.316 633.395 -36.7599 619.665 -27.2051C560.318 14.0944 501.002 55.3722 443.715 80.7303ZM354.488 486.508C404.019 452.312 451.593 403.67 499.14 355.055C510.135 343.813 521.128 332.572 532.144 321.512C590.822 262.601 650.132 208.811 713.748 187.007C777.348 165.207 845.302 175.365 914.521 194.39C940.96 201.657 967.572 210.213 994.191 218.773C1002.42 221.418 1010.64 224.063 1018.86 226.67C1053.69 237.713 1088.43 248.078 1122.7 254.862C1242.13 278.508 1355.65 258.654 1465.68 213.156L1465.68 585.679L0.321411 585.679L0.321406 527.581C125.564 567.14 244.822 562.224 354.488 486.508Z" stroke="url(#paint2_linear_44_2621)" stroke-opacity="0.2" stroke-width="0.642458" stroke-linecap="round" stroke-linejoin="round"/>
      <defs>
        <linearGradient id="paint0_linear_44_2621" x1="1573.39" y1="405.631" x2="468.8" y2="155.587" gradientUnits="userSpaceOnUse">
          <stop stop-color="#418CFE"/>
          <stop offset="1" stop-color="white" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint1_linear_44_2621" x1="1573.39" y1="405.631" x2="468.8" y2="155.587" gradientUnits="userSpaceOnUse">
          <stop stop-color="#418CFE"/>
          <stop offset="1" stop-color="white" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint2_linear_44_2621" x1="1473.02" y1="-70.072" x2="304.694" y2="-311.286" gradientUnits="userSpaceOnUse">
          <stop stop-color="#418CFE"/>
          <stop offset="1" stop-color="white" stop-opacity="0"/>
        </linearGradient>
      </defs>
    </svg>
  </div>

  <div class="container">
    {{!-- Sidebar --}}
    <nav class="section-page__nav nav fade-in-up">
      <div class="nav__list">

      </div>
    </nav>

    {{!-- Main Content --}}
    <section class="section-page__content">
      {{#if section.articles}}
        <ul class="section-page__articles">
          {{#each section.articles}}
            <li class="fade-in-up">
              <div class="section-page__article">
                <h6><a href="{{url}}">{{title}}</a></h6>
                <div>{{body}}</div>
                <div>
                  <a href="{{url}}"></a>
                  {{t 'see_more'}}
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                      <path d="M4.16675 10.4998H15.8334M15.8334 10.4998L10.0001 4.6665M15.8334 10.4998L10.0001 16.3332" stroke="#418CFE" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      {{else}}
      {{/if}}

    </section>
  </div>

</div>